{% include "front/post/tet.twig" %}
					            <div class="main-banner">
                <div class="banner-wrap">

                        <div class="highlighted-category-left">
               {% for economie in economies %}
                                           <div class="highlighted-category-content">
                                   <div class="highlighted-category-thumbnail">
                                   		
                                      <a href="{{ path('app_da_post_detail', { postUrl : economie.postUrl } ) }}">
                                            <img width="765" height="500" src="{{ vich_uploader_asset(economie) | imagine_filter('ECONOMIE_BIG') }}" class="attachment-freenews-highlighted size-freenews-highlighted wp-post-image" alt="" decoding="async" loading="lazy" srcset="{{ vich_uploader_asset(economie) | imagine_filter('ECONOMIE_BIG') }} 765w, {{ vich_uploader_asset(economie) | imagine_filter('ECONOMIE_BIG') }} 300w" sizes="(max-width: 765px) 100vw, 765px" />                                        </a>
                                    </div><!-- .highlighted-category-thumbnail -->
                                <div class="highlighted-category-header">
                                    <div class="highlighted-category-meta">
                                        
		<span class="cat-links">
		{% for category in economie.categories %}
            	<a class="category-color-6" href="category/business/index.html">	{{ category.categoryTitle }}</a>
        {% endfor %}
		
				</span>
	<span class="posted-on"><a href="2019/04/07/labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam/index.html" rel="bookmark"><time class="entry-date published" datetime="2019-04-07T07:48:58+00:00">April 7, 2019</time></a></span>                                    </div><!-- ."highlighted-category-meta -->
                                        <h2 class="highlighted-category-title"><a href="2019/04/07/labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam/index.html">Labore et dolore magna aliqua. Ut enim ad minim veniam</a></h2>
                                </div><!-- .highlighted-category-header -->
                            </div>
                        {% endfor %}
                                 <!-- .highlighted-category-content -->
                                                        <!-- .highlighted-category-content -->
                                           </div><!-- .highlighted-category-left -->
            
            <div class="banner-list">
        	{% for alaune in alaunes %}
            <div class="slide">
                                  
                                     <div class="slide-content">
                             
                                                            <div class="slide-thumb">
                                                               
                                    <a class="aft-slide-items" href="{{ path('app_da_post_detail', { postUrl : alaune.postUrl } ) }}">
													<img width="640" height="427" src="{{ vich_uploader_asset(alaune) | imagine_filter('A_LA_UNE') }}" class="attachment-large size-large wp-post-image" alt="" loading="lazy" sizes="(max-width: 640px) 100vw, 640px"/>
												</a>
                                                                    </div><!-- .slide-thumb -->

                                <div class="slide-text-wrap">
                                    <div class="slide-text-content">
                                        <div class="slide-meta">
                                            
		<span class="cat-links">
		{% for category in alaune.categories %}
            	<a class="category-color-15" href="{{ path('app_da_post_category_detail', { postCategoryUrl : category.postCategoryUrl }) }}">	{{ category.categoryTitle }}</a>
        {% endfor %}
		
		
			{# <a class="category-color-2" href="category/world/index.html">World</a> #}
				</span>
	<span class="posted-on"><a href="2019/04/07/military-gets-new-respect-with-world-aid/index.html" rel="bookmark"><time class="entry-date published" datetime="2019-04-07T10:09:23+00:00">	{% if alaune.postPublishedAt %}
																		{{ alaune.postPublishedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}
																	{% else %}
																		{{ alaune.postCreatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}
																	{% endif %}</time></a></span>                                        </div><!-- .slide-meta -->
                                        <h2 class="slide-title">	<a href="{{ path('app_da_post_detail', { postUrl : alaune.postUrl } ) }}">{{ alaune.postTitle | raw }}</a></h2>
                                   
                                        <div class="slide-text">
                                            <p>{{ alaune.postContent | u.truncate(250, '...') | raw }}</p>
                                        </div><!-- .slider-text -->
                                   
                                    </div><!-- .slide-text-content -->
                                </div><!-- .slide-text-wrap -->                 
                                                               
                                                         
                                
                            </div>  
                                  
                            <!-- .slide-content -->
                        </div><!-- .slide --> 
                         {% endfor %} 
                            
                             
                                </div><!-- .banner-list -->
        

               <div class="highlighted-category-right">
                   <div class="hl-category-inner">
                                                   <div class="hl-category-header">
                                <h3 class="hl-category-posts-title">Les plus populaires</h3>
                                <div class="hl-category-navigation"></div>
                            </div>
                                                <div class="highlighted-category-posts">
                                              {% for famou in famous %}
                                                    <div class="highlighted-slide">
                                            <div class="highlighted-category-content">
                                                    <div class="highlighted-category-thumbnail">
                                                       <a class="aft-slide-items" href="{{ path('app_da_post_detail', { postUrl : famou.postUrl } ) }}">
															<img width="300" height="200" src="{{ vich_uploader_asset(famou) | imagine_filter('FAMOUS') }}" class="attachment-medium size-medium wp-post-image" alt="" loading="lazy" sizes="(max-width: 300px) 100vw, 300px"/>
														</a>
                                                    </div><!-- .highlighted-category-thumbnail -->
                                                    <div class="highlighted-category-header">
                                                        <div class="highlighted-category-meta">
                                                            
		<span class="cat-links">
			{% for category in famou.categories %}
            <a class="category-color-12" href="">{{ category.categoryTitle }}</a>
        {% endfor %}
			
				</span>
	<span class="posted-on"><a href="2019/04/07/new-year-cleaning-up-after-the-worlds-largest-human-gathering/index.html" rel="bookmark"><time class="entry-date published" datetime="2019-04-07T09:42:21+00:00">April 7, 2019</time></a></span>                                                        </div><!-- ."highlighted-category-meta -->

                                                        <h2 class="highlighted-category-title"><a href="2019/04/07/new-year-cleaning-up-after-the-worlds-largest-human-gathering/index.html">{{ famou.postTitle | raw }}</a></h2>
                                                    </div><!-- .highlighted-category-header -->
                                            </div><!-- .highlighted-category-content -->
                                        </div><!-- .highlighted-slide -->
                                                {% endfor %}
                                                                    
                                                                        
                                                            </div><!-- .highlighted-category-posts -->
                    </div><!-- .highlighted-category-inner -->
                </div><!-- .highlighted-category-right -->

                        </div><!-- .banner-wrap -->
        </div><!-- .main-banner -->
        <div id="content" class="site-content">
		<div class="site-content-cell">
								<div class="advertise-area">
						<div class="wrap">

							<section id="media_image-3" class="widget widget_media_image"><a href="https://themespiral.com/themes/"><img width="1500" height="176" src="wp-content/uploads/sites/8/2019/04/promo-2.jpg" class="image wp-image-150  attachment-full size-full" alt="" decoding="async" loading="lazy" style="max-width: 100%; height: auto;" srcset="https://demo.themespiral.com/freenews/wp-content/uploads/sites/8/2019/04/promo-2.jpg 1500w, https://demo.themespiral.com/freenews/wp-content/uploads/sites/8/2019/04/promo-2-300x35.jpg 300w, https://demo.themespiral.com/freenews/wp-content/uploads/sites/8/2019/04/promo-2-768x90.jpg 768w, https://demo.themespiral.com/freenews/wp-content/uploads/sites/8/2019/04/promo-2-1024x120.jpg 1024w" sizes="(max-width: 1500px) 100vw, 1500px" /></a></section>
						</div><!-- .wrap -->
					</div><!-- .advertise-area -->

							<div class="wrap">	<div class="main-section">
		<div class="wrap">

								<div id="main-content-area" class="main-content-area">
						<div class="main-content-holder">

							<section id="freenews_list_category_posts-2" class="widget widget_list_category_posts">
		<div class="list-category-posts-half lcp-left">
					<h2 class="widget-title">Divers</h2>
					<div class="list-category-posts-wrap">
			{% for diver in divers %}
            <div class="list-category-post">
											<div class="list-category-post-thumbnail">
							<a href="{{ path('app_da_post_detail', { postUrl : diver.postUrl } ) }}">
																				<img width="220" height="230" src="{{ vich_uploader_asset(diver) | imagine_filter('ECONOMIE_BIG') }}" class="attachment-medium size-medium wp-post-image" alt="" loading="lazy"/>
																			</a>
						 </div><!-- .list-category-post-thumbnail -->
										<div class="list-category-post-content">
						<div class="list-category-post-meta">
							
		<span class="cat-links">
		{% for category in diver.categories %}
            	<a class="category-color-17" href="">{{ category.categoryTitle }}</a>
        {% endfor %}
		
				</span>
							</div><!-- .list-category-post-meta -->
						<h2 class="list-category-post-title"><a href="2019/04/11/how-to-stay-safe-in-and-around-water/index.html" title="">{{ diver.postTitle | u.truncate(100, '...') | raw }}</a></h2>
						<div class="list-category-post-meta">
							<span class="author vcard"> <a class="url fn n" href="">{{ diver.user.userFullname }}</a> </span><span class="posted-on"><a href="2019/04/11/how-to-stay-safe-in-and-around-water/index.html" rel="bookmark"><time class="entry-date published" datetime="2019-04-11T07:23:59+00:00">{{ diver.postCreatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}</time></a></span>						</div><!-- .list-category-post-meta -->
					</div><!-- .list-category-post-content -->
				</div><!-- .list-category-post -->
        {% endfor %}
					</div><!-- .list-category-posts-wrap -->			
							
		</div><!-- .list-category-posts-half -->

		<div class="list-category-posts-half lcp-right">
						<h2 class="widget-title">Sciences &amp; Technologie</h2>
					<div class="list-category-posts-wrap">
		{% for st in sts %}
            <div class="list-category-post">
											<div class="list-category-post-thumbnail">
						<a class="aft-slide-items" href="{{ path('app_da_post_detail', { postUrl : st.postUrl } ) }}">
																	<img width="640" height="360" src="{{ vich_uploader_asset(st) | imagine_filter('CORONA_BIG') }}" class="attachment-large size-large wp-post-image" alt="" loading="lazy" sizes="(max-width: 640px) 100vw, 640px"/>
																</a>
						 </div><!-- .list-category-post-thumbnail -->
										<div class="list-category-post-content">
						<div class="list-category-post-meta">
							
		<span class="cat-links">
			{% for category in st.categories %}
            <a class="category-color-18" href="">{{ category.categoryTitle }}</a>
        {% endfor %}
			
				</span>
							</div><!-- .list-category-post-meta -->
						<h2 class="list-category-post-title"><a href="" title="How you can think yourself thin">{{ st.postTitle | u.truncate(60, '...') | raw }}</a></h2>
						<div class="list-category-post-meta">
							<span class="author vcard"> <a class="url fn n" href="">{{ st.user.userFullname }}</a> </span><span class="posted-on"><a href="2019/04/11/how-you-can-think-yourself-thin/index.html" rel="bookmark"><time class="entry-date published" datetime="2019-04-11T07:37:35+00:00">{{ st.postCreatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}</time></a></span>						</div><!-- .list-category-post-meta -->
					</div><!-- .list-category-post-content -->
				</div><!-- .list-category-post -->
        {% endfor %}
								
								
								
								
							</div><!-- .list-category-posts-wrap -->
		</div><!-- .list-category-posts-half -->

		</section><!-- .widget_list_category_posts -->
		<section id="freenews_category_slide-2" class="widget widget_category_slide">	
				<h2 class="widget-title">Societe</h2>
       	
            <div class="category-slide-wrap">
           
			<div class="category-slide">
		 {% for societe in societes %}
						<div class="category-slide-inner">
				<div class="category-slide-post">
											<div class="category-slide-thumbnail">
							<a href="{{ path('app_da_post_detail', { postUrl : societe.postUrl } ) }}">
														<img width="300" height="200" src="{{ vich_uploader_asset(societe) | imagine_filter('SOCIETE') }}" class="attachment-medium size-medium wp-post-image" alt="" loading="lazy" sizes="(max-width: 300px) 100vw, 300px"/>
													</a>
						 </div><!-- .category-slide-thumbnail -->
										<div class="category-slide-post-content">
						<div class="category-slide-meta">
							
		<span class="cat-links">
		{% for category in societe.categories %}
            <a class="category-color-23" href="category/athletics/index.html">{{ category.categoryTitle }}</a>
			
		
        {% endfor %}
			
				</span>
							</div><!-- .category-slide-meta -->
						<h2 class="category-slide-post-title"><a href="2019/04/11/is-this-the-fastest-seven-year-old-in-the-world/index.html" title="Is this the fastest seven-year-old in the world?">{{ societe.postTitle | raw }}</a></h2>
						<div class="category-slide-meta">
							<span class="author vcard"> <a class="url fn n" href="author/demo_spiral18/index.html">{{ societe.user.userFullname }}</a> </span><span class="posted-on"><a href="2019/04/11/is-this-the-fastest-seven-year-old-in-the-world/index.html" rel="bookmark"><time class="entry-date published" datetime="2019-04-11T08:07:21+00:00"></time>{{ societe.postCreatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}</a></span>						</div><!-- .category-slide-meta -->
					</div><!-- .category-slide-post-content -->
				</div><!-- .category-slide-post -->
			</div><!-- .category-slide-inner -->
					
					{% endfor %}	
                    </div><!-- .category-slide -->
                         
		</div><!-- .category-slide-wrap -->
       
				
		</section><!-- .widget_category_slide --><section id="freenews_blog_category_posts-2" class="widget widget_blog_category_posts">			<h2 class="widget-title">Politiques</h2>
				<div class="blog-category-post-wrap">
		{% for politique in politiques %}
            <div class="blog-category-post">
									<div class="blog-category-post-thumbnail">
						<a href="{{ path('app_da_post_detail', { postUrl : politique.postUrl } ) }}">
																	<img width="275" height="183" src="{{ vich_uploader_asset(politique) | imagine_filter('POLITIQUE') }}" class="attachment-medium size-medium wp-post-image" alt="" loading="lazy"/>
																</a>
					 </div><!-- .blog-category-post-thumbnail -->
								<div class="blog-category-post-content">
					<div class="blog-category-post-meta">
						
		<span class="cat-links">
{% for category in politique.categories %}
    <a class="category-color-24" href="">{{ category.categoryTitle }}</a>
{% endfor %}
			
				</span>
						</div><!-- .blog-category-post-meta -->
					<h2 class="blog-category-post-title"><a href="{{ path('app_da_post_detail', { postUrl : politique.postUrl } ) }}">{{ politique.postTitle | raw }}</a></h2>
					<div class="blog-category-post-meta">
						<span class="author vcard"> <a class="url fn n" href="author/demo_spiral18/index.html">{{ politique.user.userFullname }}</a> </span><span class="posted-on"><a href="2019/04/11/deadly-fire-hits-kangkok-shopping-complex/index.html" rel="bookmark"><time class="entry-date published" datetime="2019-04-11T08:55:26+00:00">{{ politique.postCreatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}</time></a></span>					</div><!-- .blog-category-post-meta -->
					<div class="blog-category-text-content">
						<p>{{ politique.postContent | u.truncate(60, '...') | raw }} <a href="2019/04/11/deadly-fire-hits-kangkok-shopping-complex/index.html" class="more-link">Lire la suite</a></p>
						
					</div><!-- .blog-category-text-content -->
				</div><!-- .list-category-post-content -->
			</div><!-- .list-category-post -->
        {% endfor %}
						
					
					</div><!-- .list-category-posts-wrap -->
		</section><!-- .widget_blog_category_posts -->
						</div><!-- .main-content-holder -->
					</div><!-- .main-content-area -->

								<aside id="left-widget-area" class="left-widget-area" role="complementary" aria-label="Template Left">
						<div class="theiaStickySidebar">

							<section id="nav_menu-2" class="widget widget_nav_menu"><h2 class="widget-title">Social Links</h2><div class="menu-social-links-container"><ul id="menu-social-links" class="menu"><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-54"><a href="https://facebook.com/">facebook</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55"><a href="https://twitter.com/">twitter</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-56"><a href="https://www.pinterest.com/">pinterest</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-57"><a href="https://www.linkedin.com/">linkedin</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-58"><a href="https://www.instagram.com/">instagram</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-59"><a href="https://www.youtube.com/">youtube</a></li>
</ul></div></section><section id="freenews_posts-3" class="widget widget-latest-posts">			
<h2 class="widget-title">En continu</h2>
				<div class="recent-posts-wrap">
	{% for enContinu in enContinus %}
            <article class="post post-99 type-post status-publish format-standard has-post-thumbnail hentry category-athletics category-sports entry">
									<div class="post-thumbnail">
					<a href="{{ path('app_da_post_detail', { postUrl : enContinu.postUrl } ) }}">
															<img width="150" height="150" src="{{ vich_uploader_asset(enContinu) | imagine_filter('FLASH_NEWS') }}" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" loading="lazy"/>
														</a>
					</div>
								<header class="entry-header">
					<div class="entry-meta">
						<span class="author vcard"> <a class="url fn n" href="author/demo_spiral18/index.html">{{ enContinu.user.userFullname }}</a> </span><span class="posted-on"><a href="2019/04/11/is-this-the-fastest-seven-year-old-in-the-world/index.html" rel="bookmark"><time class="entry-date published" datetime="2019-04-11T08:07:21+00:00">	{{ enContinu.postCreatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}</time></a></span>					</div><!-- .entry-meta -->
					<h2 class="entry-title"><a href="2019/04/11/is-this-the-fastest-seven-year-old-in-the-world/index.html">{{ enContinu.postTitle | u.truncate(50, '...') | raw }}</a></h2>				</header><!-- .entry-header -->
			</article>
        {% endfor %}
						
					</div><!-- .recent-posts-wrap -->
		</section><!-- widget-latest-posts -->
        
						</div>
					</aside><!-- .left-widget-area -->

								<aside id="right-widget-area" class="right-widget-area" role="complementary" aria-label="Template Right">
						<div class="theiaStickySidebar">

							<section id="weather_atlas-2" class="widget widget_weather_atlas"><h2 class="widget-title">Carte d'Afrique</h2></section>
				{% include "partials/layouts/front/africa-svg.html.twig" %}
						</div>
					</aside><!-- .right-widget-area -->

			
		</div><!-- .wrap -->
	</div><!-- .main-section -->

</div><!-- .wrap -->
		</div><!-- .site-content-cell -->
	</div><!-- #content -->