{% include "partials/base_front.html.twig" %}
{% block content %}
	<body class="archive author author-pelitsara-sulla author-6 wp-custom-logo wp-embed-responsive hfeed aft-default-mode aft-hide-comment-count-in-list aft-hide-minutes-read-in-list aft-hide-date-author-in-list default-content-layout content-with-single-sidebar align-content-left">
		<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
			<defs>
				<filter id="wp-duotone-dark-grayscale"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "/><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tablevalues="0 0.49803921568627"/><feFuncG type="table" tablevalues="0 0.49803921568627"/><feFuncB type="table" tablevalues="0 0.49803921568627"/><feFuncA type="table" tablevalues="1 1"/></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"/></filter>
			</defs>
		</svg>
		<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
			<defs>
				<filter id="wp-duotone-grayscale"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "/><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tablevalues="0 1"/><feFuncG type="table" tablevalues="0 1"/><feFuncB type="table" tablevalues="0 1"/><feFuncA type="table" tablevalues="1 1"/></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"/></filter>
			</defs>
		</svg>
		<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
			<defs>
				<filter id="wp-duotone-purple-yellow"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "/><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tablevalues="0.54901960784314 0.98823529411765"/><feFuncG type="table" tablevalues="0 1"/><feFuncB type="table" tablevalues="0.71764705882353 0.25490196078431"/><feFuncA type="table" tablevalues="1 1"/></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"/></filter>
			</defs>
		</svg>
		<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
			<defs>
				<filter id="wp-duotone-blue-red"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "/><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tablevalues="0 1"/><feFuncG type="table" tablevalues="0 0.27843137254902"/><feFuncB type="table" tablevalues="0.5921568627451 0.27843137254902"/><feFuncA type="table" tablevalues="1 1"/></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"/></filter>
			</defs>
		</svg>
		<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
			<defs>
				<filter id="wp-duotone-midnight"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "/><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tablevalues="0 0"/><feFuncG type="table" tablevalues="0 0.64705882352941"/><feFuncB type="table" tablevalues="0 1"/><feFuncA type="table" tablevalues="1 1"/></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"/></filter>
			</defs>
		</svg>
		<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
			<defs>
				<filter id="wp-duotone-magenta-yellow"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "/><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tablevalues="0.78039215686275 1"/><feFuncG type="table" tablevalues="0 0.94901960784314"/><feFuncB type="table" tablevalues="0.35294117647059 0.47058823529412"/><feFuncA type="table" tablevalues="1 1"/></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"/></filter>
			</defs>
		</svg>
		<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
			<defs>
				<filter id="wp-duotone-purple-green"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "/><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tablevalues="0.65098039215686 0.40392156862745"/><feFuncG type="table" tablevalues="0 1"/><feFuncB type="table" tablevalues="0.44705882352941 0.4"/><feFuncA type="table" tablevalues="1 1"/></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"/></filter>
			</defs>
		</svg>
		<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
			<defs>
				<filter id="wp-duotone-blue-orange"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "/><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tablevalues="0.098039215686275 1"/><feFuncG type="table" tablevalues="0 0.66274509803922"/><feFuncB type="table" tablevalues="0.84705882352941 0.41960784313725"/><feFuncA type="table" tablevalues="1 1"/></feComponentTransfer><feComposite in2="SourceGraphic" operator="in"/></filter>
			</defs>
		</svg>
		{% include "partials/layouts/front/_preloader.html.twig" %}


		<div id="page" class="site">
			<a class="skip-link screen-reader-text" href="#content">Passer la contenu</a>


			{% include "partials/layouts/front/_header.html.twig" %}

			<!-- end slider-section -->

			<div class="container-wrapper"></div>


			<div id="content" class="container-wrapper ">
				<div class="af-container-block-wrapper clearfix">
					<div id="primary" class="content-area">
						<main id="main" class="site-main">


							<header class="header-title-wrapper1">
								<h1 class="page-title">{{ daUser.userFullname }}</h1>
							</header>
							<!-- .header-title-wrapper -->
							<div class="af-container-row aft-archive-wrapper clearfix archive-layout-list">


								{% for post in posts %}
									<article id="post-{{ post.postTitle | raw }}" class="latest-posts-list col-1 float-l pad archive-layout-list archive-image-left post-{{ post.postTitle }} post type-post status-publish format-standard has-post-thumbnail hentry">
										<div class="archive-list-post list-style">
											<div class="read-single color-pad">

												<div class="read-img pos-rel col-2 float-l read-bg-img af-sec-list-img">
													<a href="{{ path('app_da_post_detail', { postUrl : post.postUrl } ) }}">
														<img width="220" height="230" src="{{ vich_uploader_asset(post) | imagine_filter('CATEGORY_SHOW') }}" class="attachment-medium size-medium wp-post-image" alt=""/>
													</a>
													<div class="min-read-post-format">
														<span class="min-read-item">
															<span class="min-read">{{ read_time(post.postContent) }}
																de lecture</span>
														</span>
													</div>


												</div>


												<div class="read-details col-2 float-l pad af-sec-list-txt color-tp-pad">
													<div class="read-categories">
														<ul class="cat-links">
															{% for category in post.categories %}
																<li class="meta-category">
																	<a class="newsever-categories category-color-1" href="{{ path('app_da_post_category_detail', { postCategoryUrl : category.postCategoryUrl }) }}" alt="Voir toutes les actualitées">
																		{{ category.categoryTitle }}
																	</a>
																</li>
															{% endfor %}
														</ul>
													</div>
													<div class="read-title">
														<h4>
															<a href="{{ path('app_da_post_detail', { postUrl : post.postUrl } ) }}">{{ post.postTitle | raw }}</a>
														</h4>
													</div>
													<div class="entry-meta">

														<span class="author-links">

															<span class="item-metadata posts-date">
																<i class="fa fa-clock-o"></i>
																{% if post.postPublishedAt %}
																		{{ post.postPublishedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}
																	{% else %}
																		{{ post.postCreatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}
																	{% endif %}
															</span>

															<span class="item-metadata posts-author byline">
																<i class="fa fa-pencil-square-o"></i>
																<a href="{{ path('app_da_user_post', { userName : post.user } ) }}">
																	{{ post.user.userFullname }}
																</a>
															</span>
														</span>
													</div>

													<div class="read-descprition full-item-discription">
														<div class="post-description">
															{{ post.postTitle | raw}}
														</div>
													</div>


												</div>
											</div>
										</div>


									</article>
								{% endfor %}

							</div>

							<div class="col-1">
								<div class="newsever-pagination">
									<h2 class="screen-reader-text">Navigation des articles</h2>
									{% do posts.setPageRange(2) %}
									{{ knp_pagination_render(posts, "partials/layouts/front/_pagination.html.twig") }}
								</div>
							</div>
						</main>
						<!-- #main -->
					</div>
					<!-- #primary -->


					<div id="secondary" class="sidebar-area aft-sticky-sidebar">
						<div class="theiaStickySidebar">
							<aside class="widget-area color-pad">
								<div id="search-2" class="widget newsever-widget widget_search">
									<form role="search" method="get" class="search-form" action="{{ path('app_da_search') }}">
										<label>
											<span class="screen-reader-text">Rechercher :</span>
											<input type="search" class="search-field" placeholder="Rechercher…" value="" name="s"/>
										</label>
										<input type="submit" class="search-submit" value="Rechercher"/>
									</form>
								</div>
								{% include "front/aside-news.html..twig" %}
							</aside>
						</div>
					</div>
				</div>


			</div>


			{% include "front/_to-read-more.html.twig" %}

			{% include "partials/layouts/front/_footer.html.twig" %}
		</div>

		{% include "partials/layouts/front/_scroll-up.html.twig" %}
		{# {% include "partials/layouts/front/_pop-up-login.html.twig" %} #}


	{% endblock %}
</body>

{% block javascript %}
	<script>
document.title = "DAILY AFRICA | Auteur : {{ daUser.userFullname }}"

	</script>
{% endblock %}


