{% include "front/post/tet.twig" %}

					            <div class="main-banner">
                <div class="banner-wrap">
                <h1 class="entry-title">{{ postDetail.postTitle | raw }}</h1>
<img width="800" height="533" src="{{ vich_uploader_asset(postDetail) | imagine_filter('NEW_DETAIL') }}" class="attachment-newsever-featured size-newsever-featured wp-post-image" alt="" loading="lazy" sizes="(max-width: 800px) 100vw, 800px"/>
<br>
<div class="list-category-post-meta">
							<span class="author vcard"> <a class="url fn n" href="">{{ postDetail.user.userFullname }}</a> </span><span class="posted-on"><a href="2019/04/11/how-to-stay-safe-in-and-around-water/index.html" rel="bookmark"><time class="entry-date published" datetime="2019-04-11T07:23:59+00:00">{{ postDetail.postCreatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}</time></a></span>						</div>
<p>{{ postDetail.postContent | raw }}</p>
            
            <hr>
           
               

                        </div><!-- .banner-wrap -->
        </div>