
<!doctype html>
<html lang="en-US">

<!-- Mirrored from demo.themespiral.com/freenews/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 May 2023 10:12:36 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link rel="profile" href="https://gmpg.org/xfn/11">
																																																																			  <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />

	<!-- This site is optimized with the Yoast SEO plugin v20.5 - https://yoast.com/wordpress/plugins/seo/ -->
	<title>Bienvenue - Politique Afrique</title>
	<link rel="canonical" href="index.html" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Home - Free News" />
	<meta property="og:url" content="index.html" />
	<meta property="og:site_name" content="Free News" />
	<meta property="article:modified_time" content="2019-04-07T07:28:25+00:00" />
	<meta name="twitter:card" content="summary_large_image" />
	<script type="application/ld+json" class="yoast-schema-graph">{"@context":"https://schema.org","@graph":[{"@type":"WebPage","@id":"https://demo.themespiral.com/freenews/","url":"https://demo.themespiral.com/freenews/","name":"Home - Free News","isPartOf":{"@id":"https://demo.themespiral.com/freenews/#website"},"about":{"@id":"https://demo.themespiral.com/freenews/#organization"},"datePublished":"2019-04-07T07:28:24+00:00","dateModified":"2019-04-07T07:28:25+00:00","breadcrumb":{"@id":"https://demo.themespiral.com/freenews/#breadcrumb"},"inLanguage":"en-US","potentialAction":[{"@type":"ReadAction","target":["https://demo.themespiral.com/freenews/"]}]},{"@type":"BreadcrumbList","@id":"https://demo.themespiral.com/freenews/#breadcrumb","itemListElement":[{"@type":"ListItem","position":1,"name":"Home"}]},{"@type":"WebSite","@id":"https://demo.themespiral.com/freenews/#website","url":"https://demo.themespiral.com/freenews/","name":"Free News","description":"Just another Theme Spiral Demo Sites site","publisher":{"@id":"https://demo.themespiral.com/freenews/#organization"},"potentialAction":[{"@type":"SearchAction","target":{"@type":"EntryPoint","urlTemplate":"https://demo.themespiral.com/freenews/?s={search_term_string}"},"query-input":"required name=search_term_string"}],"inLanguage":"en-US"},{"@type":"Organization","@id":"https://demo.themespiral.com/freenews/#organization","name":"Free News","url":"https://demo.themespiral.com/freenews/","logo":{"@type":"ImageObject","inLanguage":"en-US","@id":"https://demo.themespiral.com/freenews/#/schema/logo/image/","url":"https://demo.themespiral.com/freenews/wp-content/uploads/sites/8/2019/04/logo.png","contentUrl":"https://demo.themespiral.com/freenews/wp-content/uploads/sites/8/2019/04/logo.png","width":800,"height":200,"caption":"Free News"},"image":{"@id":"https://demo.themespiral.com/freenews/#/schema/logo/image/"}}]}</script>
	<!-- / Yoast SEO plugin. -->


<link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
<link rel="alternate" type="application/rss+xml" title="Free News &raquo; Feed" href="feed/index.html" />
<link rel="alternate" type="application/rss+xml" title="Free News &raquo; Comments Feed" href="comments/feed/index.html" />
<script type="text/javascript">
window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/14.0.0\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/14.0.0\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/demo.themespiral.com\/freenews\/wp-includes\/js\/wp-emoji-release.min.js?ver=6.2.2"}};
/*! This file is auto-generated */
!function(e,a,t){var n,r,o,i=a.createElement("canvas"),p=i.getContext&&i.getContext("2d");function s(e,t){p.clearRect(0,0,i.width,i.height),p.fillText(e,0,0);e=i.toDataURL();return p.clearRect(0,0,i.width,i.height),p.fillText(t,0,0),e===i.toDataURL()}function c(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(o=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(p&&p.fillText)switch(p.textBaseline="top",p.font="600 32px Arial",e){case"flag":return s("\ud83c\udff3\ufe0f\u200d\u26a7\ufe0f","\ud83c\udff3\ufe0f\u200b\u26a7\ufe0f")?!1:!s("\ud83c\uddfa\ud83c\uddf3","\ud83c\uddfa\u200b\ud83c\uddf3")&&!s("\ud83c\udff4\udb40\udc67\udb40\udc62\udb40\udc65\udb40\udc6e\udb40\udc67\udb40\udc7f","\ud83c\udff4\u200b\udb40\udc67\u200b\udb40\udc62\u200b\udb40\udc65\u200b\udb40\udc6e\u200b\udb40\udc67\u200b\udb40\udc7f");case"emoji":return!s("\ud83e\udef1\ud83c\udffb\u200d\ud83e\udef2\ud83c\udfff","\ud83e\udef1\ud83c\udffb\u200b\ud83e\udef2\ud83c\udfff")}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],"flag"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(e=t.source||{}).concatemoji?c(e.concatemoji):e.wpemoji&&e.twemoji&&(c(e.twemoji),c(e.wpemoji)))}(window,document,window._wpemojiSettings);
</script>
<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 0.07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	<link rel='stylesheet' id='wp-block-library-css' href='wp-includes/css/dist/block-library/style.min3781.css?ver=6.2.2' type='text/css' media='all' />
<style id='wp-block-library-inline-css' type='text/css'>
.has-text-align-justify{text-align:justify;}
</style>
<link rel='stylesheet' id='mediaelement-css' href='wp-includes/js/mediaelement/mediaelementplayer-legacy.min1f61.css?ver=4.2.17' type='text/css' media='all' />
<link rel='stylesheet' id='wp-mediaelement-css' href='wp-includes/js/mediaelement/wp-mediaelement.min3781.css?ver=6.2.2' type='text/css' media='all' />
<link rel='stylesheet' id='classic-theme-styles-css' href='wp-includes/css/classic-themes.min3781.css?ver=6.2.2' type='text/css' media='all' />
<style id='global-styles-inline-css' type='text/css'>
body{--wp--preset--color--black: #000000;--wp--preset--color--cyan-bluish-gray: #abb8c3;--wp--preset--color--white: #ffffff;--wp--preset--color--pale-pink: #f78da7;--wp--preset--color--vivid-red: #cf2e2e;--wp--preset--color--luminous-vivid-orange: #ff6900;--wp--preset--color--luminous-vivid-amber: #fcb900;--wp--preset--color--light-green-cyan: #7bdcb5;--wp--preset--color--vivid-green-cyan: #00d084;--wp--preset--color--pale-cyan-blue: #8ed1fc;--wp--preset--color--vivid-cyan-blue: #0693e3;--wp--preset--color--vivid-purple: #9b51e0;--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);--wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);--wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);--wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);--wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);--wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);--wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');--wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');--wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');--wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');--wp--preset--duotone--midnight: url('#wp-duotone-midnight');--wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');--wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');--wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');--wp--preset--font-size--small: 13px;--wp--preset--font-size--medium: 20px;--wp--preset--font-size--large: 36px;--wp--preset--font-size--x-large: 42px;--wp--preset--spacing--20: 0.44rem;--wp--preset--spacing--30: 0.67rem;--wp--preset--spacing--40: 1rem;--wp--preset--spacing--50: 1.5rem;--wp--preset--spacing--60: 2.25rem;--wp--preset--spacing--70: 3.38rem;--wp--preset--spacing--80: 5.06rem;--wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);--wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);--wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);--wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);--wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);}:where(.is-layout-flex){gap: 0.5em;}body .is-layout-flow > .alignleft{float: left;margin-inline-start: 0;margin-inline-end: 2em;}body .is-layout-flow > .alignright{float: right;margin-inline-start: 2em;margin-inline-end: 0;}body .is-layout-flow > .aligncenter{margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > .alignleft{float: left;margin-inline-start: 0;margin-inline-end: 2em;}body .is-layout-constrained > .alignright{float: right;margin-inline-start: 2em;margin-inline-end: 0;}body .is-layout-constrained > .aligncenter{margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)){max-width: var(--wp--style--global--content-size);margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > .alignwide{max-width: var(--wp--style--global--wide-size);}body .is-layout-flex{display: flex;}body .is-layout-flex{flex-wrap: wrap;align-items: center;}body .is-layout-flex > *{margin: 0;}:where(.wp-block-columns.is-layout-flex){gap: 2em;}.has-black-color{color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-color{color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-color{color: var(--wp--preset--color--white) !important;}.has-pale-pink-color{color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-color{color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-color{color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-color{color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-color{color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-color{color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-color{color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-color{color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-color{color: var(--wp--preset--color--vivid-purple) !important;}.has-black-background-color{background-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-background-color{background-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-background-color{background-color: var(--wp--preset--color--white) !important;}.has-pale-pink-background-color{background-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-background-color{background-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-background-color{background-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-background-color{background-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-background-color{background-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-background-color{background-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-background-color{background-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-background-color{background-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-background-color{background-color: var(--wp--preset--color--vivid-purple) !important;}.has-black-border-color{border-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-border-color{border-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-border-color{border-color: var(--wp--preset--color--white) !important;}.has-pale-pink-border-color{border-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-border-color{border-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-border-color{border-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-border-color{border-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-border-color{border-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-border-color{border-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-border-color{border-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-border-color{border-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-border-color{border-color: var(--wp--preset--color--vivid-purple) !important;}.has-vivid-cyan-blue-to-vivid-purple-gradient-background{background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;}.has-light-green-cyan-to-vivid-green-cyan-gradient-background{background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;}.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;}.has-luminous-vivid-orange-to-vivid-red-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;}.has-very-light-gray-to-cyan-bluish-gray-gradient-background{background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;}.has-cool-to-warm-spectrum-gradient-background{background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;}.has-blush-light-purple-gradient-background{background: var(--wp--preset--gradient--blush-light-purple) !important;}.has-blush-bordeaux-gradient-background{background: var(--wp--preset--gradient--blush-bordeaux) !important;}.has-luminous-dusk-gradient-background{background: var(--wp--preset--gradient--luminous-dusk) !important;}.has-pale-ocean-gradient-background{background: var(--wp--preset--gradient--pale-ocean) !important;}.has-electric-grass-gradient-background{background: var(--wp--preset--gradient--electric-grass) !important;}.has-midnight-gradient-background{background: var(--wp--preset--gradient--midnight) !important;}.has-small-font-size{font-size: var(--wp--preset--font-size--small) !important;}.has-medium-font-size{font-size: var(--wp--preset--font-size--medium) !important;}.has-large-font-size{font-size: var(--wp--preset--font-size--large) !important;}.has-x-large-font-size{font-size: var(--wp--preset--font-size--x-large) !important;}
.wp-block-navigation a:where(:not(.wp-element-button)){color: inherit;}
:where(.wp-block-columns.is-layout-flex){gap: 2em;}
.wp-block-pullquote{font-size: 1.5em;line-height: 1.6;}
</style>
<link rel='stylesheet' id='contact-form-7-css' href='{{ asset('assets/wp-content/plugins/contact-form-7/includes/css/stylescfaa.css?ver=5.7.6') }}' type='text/css' media='all' />
<link rel='stylesheet' id='wpb-google-fonts-css' href='http://fonts.googleapis.com/css?family=Open+Sans&amp;ver=6.2.2' type='text/css' media='all' />
<link rel='stylesheet' id='weather-atlas-css' href='{{ asset('assets/wp-content/plugins/weather-atlas/public/css/weather-atlas-public.min1576.css?ver=1.2.1') }}' type='text/css' media='all' />
<link rel='stylesheet' id='weather-icons-css' href='{{ asset('assets/wp-content/plugins/weather-atlas/public/font/weather-icons/weather-icons.min1576.css?ver=1.2.1') }}' type='text/css' media='all' />
<link rel='stylesheet' id='freenews-style-css' href='{{ asset('assets/wp-content/themes/freenews/style3781.css?ver=6.2.2') }}' type='text/css' media='all' />
<style id='freenews-style-inline-css' type='text/css'>
.cat-links .category-color-11{

						background-color:#fea47f;

					}
					.secondary-menu .category-color-11 > a:hover,
					.secondary-menu .category-color-11 > a:focus,
					.secondary-menu > li.current-menu-item.category-color-11 > a, 
					.secondary-menu > li.current_page_item.category-color-11 > a, 
					.secondary-menu > li.current-menu-ancestor.category-color-1 > a {
						border-bottom-color:#fea47f;

					}.cat-links .category-color-25{

						background-color:#25ccf7;

					}
					.secondary-menu .category-color-25 > a:hover,
					.secondary-menu .category-color-25 > a:focus,
					.secondary-menu > li.current-menu-item.category-color-25 > a, 
					.secondary-menu > li.current_page_item.category-color-25 > a, 
					.secondary-menu > li.current-menu-ancestor.category-color-1 > a {
						border-bottom-color:#25ccf7;

					}.cat-links .category-color-18{

						background-color:#eab543;

					}
					.secondary-menu .category-color-18 > a:hover,
					.secondary-menu .category-color-18 > a:focus,
					.secondary-menu > li.current-menu-item.category-color-18 > a, 
					.secondary-menu > li.current_page_item.category-color-18 > a, 
					.secondary-menu > li.current-menu-ancestor.category-color-1 > a {
						border-bottom-color:#eab543;

					}.cat-links .category-color-12{

						background-color:#55e6c1;

					}
					.secondary-menu .category-color-12 > a:hover,
					.secondary-menu .category-color-12 > a:focus,
					.secondary-menu > li.current-menu-item.category-color-12 > a, 
					.secondary-menu > li.current_page_item.category-color-12 > a, 
					.secondary-menu > li.current-menu-ancestor.category-color-1 > a {
						border-bottom-color:#55e6c1;

					}.cat-links .category-color-23{

						background-color:#23a4db;

					}
					.secondary-menu .category-color-23 > a:hover,
					.secondary-menu .category-color-23 > a:focus,
					.secondary-menu > li.current-menu-item.category-color-23 > a, 
					.secondary-menu > li.current_page_item.category-color-23 > a, 
					.secondary-menu > li.current-menu-ancestor.category-color-1 > a {
						border-bottom-color:#23a4db;

					}.cat-links .category-color-6{

						background-color:#f97f51;

					}
					.secondary-menu .category-color-6 > a:hover,
					.secondary-menu .category-color-6 > a:focus,
					.secondary-menu > li.current-menu-item.category-color-6 > a, 
					.secondary-menu > li.current_page_item.category-color-6 > a, 
					.secondary-menu > li.current-menu-ancestor.category-color-1 > a {
						border-bottom-color:#f97f51;

					}.cat-links .category-color-10{

						background-color:#ee5253;

					}
					.secondary-menu .category-color-10 > a:hover,
					.secondary-menu .category-color-10 > a:focus,
					.secondary-menu > li.current-menu-item.category-color-10 > a, 
					.secondary-menu > li.current_page_item.category-color-10 > a, 
					.secondary-menu > li.current-menu-ancestor.category-color-1 > a {
						border-bottom-color:#ee5253;

					}.cat-links .category-color-29{

						background-color:#a3cb38;

					}
					.secondary-menu .category-color-29 > a:hover,
					.secondary-menu .category-color-29 > a:focus,
					.secondary-menu > li.current-menu-item.category-color-29 > a, 
					.secondary-menu > li.current_page_item.category-color-29 > a, 
					.secondary-menu > li.current-menu-ancestor.category-color-1 > a {
						border-bottom-color:#a3cb38;

					}.cat-links .category-color-21{

						background-color:#1289a7;

					}
					.secondary-menu .category-color-21 > a:hover,
					.secondary-menu .category-color-21 > a:focus,
					.secondary-menu > li.current-menu-item.category-color-21 > a, 
					.secondary-menu > li.current_page_item.category-color-21 > a, 
					.secondary-menu > li.current-menu-ancestor.category-color-1 > a {
						border-bottom-color:#1289a7;

					}.cat-links .category-color-26{

						background-color:#d980fa;

					}
					.secondary-menu .category-color-26 > a:hover,
					.secondary-menu .category-color-26 > a:focus,
					.secondary-menu > li.current-menu-item.category-color-26 > a, 
					.secondary-menu > li.current_page_item.category-color-26 > a, 
					.secondary-menu > li.current-menu-ancestor.category-color-1 > a {
						border-bottom-color:#d980fa;

					}.cat-links .category-color-15{

						background-color:#b53471;

					}
					.secondary-menu .category-color-15 > a:hover,
					.secondary-menu .category-color-15 > a:focus,
					.secondary-menu > li.current-menu-item.category-color-15 > a, 
					.secondary-menu > li.current_page_item.category-color-15 > a, 
					.secondary-menu > li.current-menu-ancestor.category-color-1 > a {
						border-bottom-color:#b53471;

					}.cat-links .category-color-17{

						background-color:#ee5a24;

					}
					.secondary-menu .category-color-17 > a:hover,
					.secondary-menu .category-color-17 > a:focus,
					.secondary-menu > li.current-menu-item.category-color-17 > a, 
					.secondary-menu > li.current_page_item.category-color-17 > a, 
					.secondary-menu > li.current-menu-ancestor.category-color-1 > a {
						border-bottom-color:#ee5a24;

					}.cat-links .category-color-9{

						background-color:#1e73be;

					}
					.secondary-menu .category-color-9 > a:hover,
					.secondary-menu .category-color-9 > a:focus,
					.secondary-menu > li.current-menu-item.category-color-9 > a, 
					.secondary-menu > li.current_page_item.category-color-9 > a, 
					.secondary-menu > li.current-menu-ancestor.category-color-1 > a {
						border-bottom-color:#1e73be;

					}.cat-links .category-color-14{

						background-color:#009432;

					}
					.secondary-menu .category-color-14 > a:hover,
					.secondary-menu .category-color-14 > a:focus,
					.secondary-menu > li.current-menu-item.category-color-14 > a, 
					.secondary-menu > li.current_page_item.category-color-14 > a, 
					.secondary-menu > li.current-menu-ancestor.category-color-1 > a {
						border-bottom-color:#009432;

					}.cat-links .category-color-13{

						background-color:#0652dd;

					}
					.secondary-menu .category-color-13 > a:hover,
					.secondary-menu .category-color-13 > a:focus,
					.secondary-menu > li.current-menu-item.category-color-13 > a, 
					.secondary-menu > li.current_page_item.category-color-13 > a, 
					.secondary-menu > li.current-menu-ancestor.category-color-1 > a {
						border-bottom-color:#0652dd;

					}.cat-links .category-color-19{

						background-color:#9980fa;

					}
					.secondary-menu .category-color-19 > a:hover,
					.secondary-menu .category-color-19 > a:focus,
					.secondary-menu > li.current-menu-item.category-color-19 > a, 
					.secondary-menu > li.current_page_item.category-color-19 > a, 
					.secondary-menu > li.current-menu-ancestor.category-color-1 > a {
						border-bottom-color:#9980fa;

					}.cat-links .category-color-24{

						background-color:#1b9cfc;

					}
					.secondary-menu .category-color-24 > a:hover,
					.secondary-menu .category-color-24 > a:focus,
					.secondary-menu > li.current-menu-item.category-color-24 > a, 
					.secondary-menu > li.current_page_item.category-color-24 > a, 
					.secondary-menu > li.current-menu-ancestor.category-color-1 > a {
						border-bottom-color:#1b9cfc;

					}.cat-links .category-color-22{

						background-color:#ea2027;

					}
					.secondary-menu .category-color-22 > a:hover,
					.secondary-menu .category-color-22 > a:focus,
					.secondary-menu > li.current-menu-item.category-color-22 > a, 
					.secondary-menu > li.current_page_item.category-color-22 > a, 
					.secondary-menu > li.current-menu-ancestor.category-color-1 > a {
						border-bottom-color:#ea2027;

					}.cat-links .category-color-1{

						background-color:#6f1e51;

					}
					.secondary-menu .category-color-1 > a:hover,
					.secondary-menu .category-color-1 > a:focus,
					.secondary-menu > li.current-menu-item.category-color-1 > a, 
					.secondary-menu > li.current_page_item.category-color-1 > a, 
					.secondary-menu > li.current-menu-ancestor.category-color-1 > a {
						border-bottom-color:#6f1e51;

					}.cat-links .category-color-27{

						background-color:#eb3b5a;

					}
					.secondary-menu .category-color-27 > a:hover,
					.secondary-menu .category-color-27 > a:focus,
					.secondary-menu > li.current-menu-item.category-color-27 > a, 
					.secondary-menu > li.current_page_item.category-color-27 > a, 
					.secondary-menu > li.current-menu-ancestor.category-color-1 > a {
						border-bottom-color:#eb3b5a;

					}.cat-links .category-color-2{

						background-color:#10ac84;

					}
					.secondary-menu .category-color-2 > a:hover,
					.secondary-menu .category-color-2 > a:focus,
					.secondary-menu > li.current-menu-item.category-color-2 > a, 
					.secondary-menu > li.current_page_item.category-color-2 > a, 
					.secondary-menu > li.current-menu-ancestor.category-color-1 > a {
						border-bottom-color:#10ac84;

					}.cat-links .category-color-20{

						background-color:#5758bb;

					}
					.secondary-menu .category-color-20 > a:hover,
					.secondary-menu .category-color-20 > a:focus,
					.secondary-menu > li.current-menu-item.category-color-20 > a, 
					.secondary-menu > li.current_page_item.category-color-20 > a, 
					.secondary-menu > li.current-menu-ancestor.category-color-1 > a {
						border-bottom-color:#5758bb;

					}

	/* Navigation ________________________ */
	#nav-sticker {
		background-color: ;
	}

	/* Navigation Border________________________ */
	#nav-sticker {
		border-color: ;
	}

	.main-navigation > ul > li.current-menu-item > a, 
	.main-navigation > ul > li.current_page_item > a, 
	.main-navigation > ul > li.current-menu-ancestor > a {
		background-color: ;
	}

	@media only screen and (max-width: 768px) {
		.main-navigation > ul > li.current-menu-item > a, 
		.main-navigation > ul > li.current_page_item > a, 
		.main-navigation > ul > li.current-menu-ancestor > a {
			background-color: transparent;
		}
	}

	/* Top Header________________________ */
	.flash-news-header {
		background: linear-gradient(-45deg, , #EEEEEE, , #333333);
		background-size: 400%;
	}

	.header-social-menu {
		background-color: ;
	}

	/* Site branding ________________________ */
	.header-brand {
		background-color: ;
	}
</style>
<link rel='stylesheet' id='font-awesome-css' href='{{ asset('assets/wp-content/themes/freenews/assets/library/fontawesome/css/font-awesome.min3781.css?ver=6.2.2') }}' type='text/css' media='all' />
<link rel='stylesheet' id='freenews-google-fonts-css' href='{{ asset('assets/wp-content/fonts/02f3c4000638efd7f545e4307b939dcc.css') }}' type='text/css' media='all' />
<link rel='stylesheet' id='freenews-style-pro-css' href='{{ asset('assets/wp-content/plugins/freenews-pro/inc/css/style-pro3781.css?ver=6.2.2') }}' type='text/css' media='all' />
<link rel='stylesheet' id='jetpack_css-css' href='{{ asset('assets/wp-content/plugins/jetpack/css/jetpack9273.css?ver=12.0') }}' type='text/css' media='all' />
<script type='text/javascript' src='{{ asset('assets/wp-includes/js/jquery/jquery.min5aed.js?ver=3.6.4') }}' id='jquery-core-js'></script>
<script type='text/javascript' src='{{ asset('assets/wp-includes/js/jquery/jquery-migrate.min6b00.js?ver=3.4.0') }}' id='jquery-migrate-js'></script>
<script type='text/javascript' src='{{ asset('assets/wp-content/plugins/weather-atlas/public/js/weather-atlas-public.min1576.js?ver=1.2.1') }}' id='weather-atlas-js'></script>
<script type='text/javascript' src='{{ asset('assets/wp-content/plugins/weather-atlas/public/js/jquery-cookie.min1576.js?ver=1.2.1') }}' id='jquery-cookie-js'></script>
<script type='text/javascript' src='{{ asset('assets/wp-content/themes/freenews/assets/js/global68b3.js?ver=1') }}' id='freenews-global-js'></script>
<link rel="https://api.w.org/" href="wp-json/index.html" /><link rel="alternate" type="application/json" href="wp-json/wp/v2/pages/4.json" /><link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes/wlwmanifest.xml" />
<meta name="generator" content="WordPress 6.2.2" />
<link rel='shortlink' href='index.html' />
<link rel="alternate" type="application/json+oembed" href="wp-json/oembed/1.0/embedc345.json?url=https%3A%2F%2Fdemo.themespiral.com%2Ffreenews%2F" />
<link rel="alternate" type="text/xml+oembed" href="wp-json/oembed/1.0/embed6e4a?url=https%3A%2F%2Fdemo.themespiral.com%2Ffreenews%2F&amp;format=xml" />
	<style type="text/css">
		#wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {
			overflow-y: scroll;
			height: 600px;
			width: auto;
			padding-right: 100px;
		}

		#wpadminbar .quicklinks .menupop ul.ab-sub-secondary {
			padding-bottom: 100px;
		}
	</style>
<script type="text/javascript">
(function(url){
	if(/(?:Chrome\/26\.0\.1410\.63 Safari\/537\.31|WordfenceTestMonBot)/.test(navigator.userAgent)){ return; }
	var addEvent = function(evt, handler) {
		if (window.addEventListener) {
			document.addEventListener(evt, handler, false);
		} else if (window.attachEvent) {
			document.attachEvent('on' + evt, handler);
		}
	};
	var removeEvent = function(evt, handler) {
		if (window.removeEventListener) {
			document.removeEventListener(evt, handler, false);
		} else if (window.detachEvent) {
			document.detachEvent('on' + evt, handler);
		}
	};
	var evts = 'contextmenu dblclick drag dragend dragenter dragleave dragover dragstart drop keydown keypress keyup mousedown mousemove mouseout mouseover mouseup mousewheel scroll'.split(' ');
	var logHuman = function() {
		if (window.wfLogHumanRan) { return; }
		window.wfLogHumanRan = true;
		var wfscr = document.createElement('script');
		wfscr.type = 'text/javascript';
		wfscr.async = true;
		wfscr.src = url + '&r=' + Math.random();
		(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(wfscr);
		for (var i = 0; i < evts.length; i++) {
			removeEvent(evts[i], logHuman);
		}
	};
	for (var i = 0; i < evts.length; i++) {
		addEvent(evts[i], logHuman);
	}
})('index8a1e.html?wordfence_lh=1&amp;hid=BCB43017D9778C956D969F499D56DFCD');
</script>	<style>img#wpstats{display:none}</style>
				<style type="text/css">
					.site-title a,
			.site-description,
			.has-header-image .site-title a,
			.has-header-image .site-description,
			.has-top-bg-image .site-title a,
			.has-top-bg-image .site-description {
				position: absolute;
				clip: rect(1px, 1px, 1px, 1px);
			}
				</style>
		<link rel="icon" href="{{ asset('assets/wp-content/uploads/sites/8/2019/04/logo.png') }}" sizes="32x32" />
<link rel="icon" href="{{ asset('assets/wp-content/uploads/sites/8/2019/04/logo.png') }}" sizes="192x192" />
<link rel="apple-touch-icon" href="{{ asset('assets/wp-content/uploads/sites/8/2019/04/logo.png') }}" />
<meta name="msapplication-TileImage" content="{{ asset('assets/wp-content/uploads/sites/8/2019/04/logo.png') }}" />
</head>

<body class="home page-template page-template-template page-template-freenews-template page-template-templatefreenews-template-php page page-id-4 wp-custom-logo has-header-image lw-area rw-area has-sidebar">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-dark-grayscale"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0 0.49803921568627" /><feFuncG type="table" tableValues="0 0.49803921568627" /><feFuncB type="table" tableValues="0 0.49803921568627" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-grayscale"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0 1" /><feFuncG type="table" tableValues="0 1" /><feFuncB type="table" tableValues="0 1" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-purple-yellow"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0.54901960784314 0.98823529411765" /><feFuncG type="table" tableValues="0 1" /><feFuncB type="table" tableValues="0.71764705882353 0.25490196078431" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-blue-red"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0 1" /><feFuncG type="table" tableValues="0 0.27843137254902" /><feFuncB type="table" tableValues="0.5921568627451 0.27843137254902" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-midnight"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0 0" /><feFuncG type="table" tableValues="0 0.64705882352941" /><feFuncB type="table" tableValues="0 1" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-magenta-yellow"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0.78039215686275 1" /><feFuncG type="table" tableValues="0 0.94901960784314" /><feFuncB type="table" tableValues="0.35294117647059 0.47058823529412" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-purple-green"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0.65098039215686 0.40392156862745" /><feFuncG type="table" tableValues="0 1" /><feFuncB type="table" tableValues="0.44705882352941 0.4" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-blue-orange"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0.098039215686275 1" /><feFuncG type="table" tableValues="0 0.66274509803922" /><feFuncB type="table" tableValues="0.84705882352941 0.41960784313725" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><div id="page" class="site">
	<a class="skip-link screen-reader-text" href="#content">Skip to content</a>

	
	<header id="masthead" class="site-header">
		<div id="main-header" class="main-header">
			<div class="navigation-top">
        		<div class="wrap">
            	<div id="site-header-menu" class="site-header-menu">
               	<nav class="main-navigation" aria-label="Primary Menu" role="navigation">
							    <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
        <span class="toggle-text">Menu</span>
        <span class="toggle-bar"></span>
    </button>

    <ul id="primary-menu" class="menu nav-menu"><li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-4 current_page_item menu-item-28"><a href="index.html" aria-current="page">Home</a></li>
<li id="menu-item-165" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-165"><a href="about/index.html">About</a></li>
<li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="blog/index.html">Blog</a></li>
<li id="menu-item-154" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-154"><a href="https://demo.themespiral.com/freenews-pro/">Pro Demo</a></li>
<li id="menu-item-153" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-153"><a href="https://docs.themespiral.com/freenews/">Documentation</a></li>
<li id="menu-item-145" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-145"><a href="contact/index.html">Contact</a></li>
</ul>						 </nav><!-- #site-navigation -->
           		</div>
        		</div><!-- .wrap -->
			</div><!-- .navigation-top -->
			       <nav class="secondary-navigation" role="navigation" aria-label="Secondary Navigation">
            <div class="wrap">
                <button class="secondary-menu-toggle" aria-controls="primary-menu" aria-expanded="false">
                    <span class="secondary-toggle-text">Menu</span>
                    <span class="secondary-toggle-bar"></span>
                </button>
                <ul id="primary-menu" class="secondary-menu"><li id="menu-item-124" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-124 category-color-17"><a href="category/local-news/index.html">Local News</a></li>
<li id="menu-item-125" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-125 category-color-18"><a href="category/arts-culture/index.html">Arts &#038; Culture</a></li>
<li id="menu-item-126" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-126 category-color-19"><a href="category/sports/index.html">Sports</a></li>
<li id="menu-item-127" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-127 category-color-24"><a href="category/stories/index.html">Stories</a></li>
<li id="menu-item-128" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-128 category-color-2"><a href="category/world/index.html">World</a></li>
<li id="menu-item-129" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-129 category-color-6"><a href="category/business/index.html">Business</a></li>
<li id="menu-item-130" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-130 category-color-9"><a href="category/middle-east/index.html">Middle East</a></li>
<li id="menu-item-131" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-131 category-color-13"><a href="category/science/index.html">Science</a></li>
<li id="menu-item-132" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-132 category-color-10"><a href="category/europe/index.html">Europe</a></li>
</ul>            </div><!-- .wrap -->
        </nav><!-- .secondary-navigation -->       

			<div class="top-header">
				<div class="top-header-inner">

					    <div class="flash-news">
                <div class="flash-news-header">
            <h4 class="flash-news-title">Flash News</h4>
        </div>
                <div class="marquee">
                            <artical class="news-post-title"><h3>{% for flashNew in flashNews %}
								<a href="{{ path('app_da_post_detail', { postUrl : flashNew.postUrl } ) }}">
									<span class="circle-marq">
										<img src="{{ vich_uploader_asset(flashNew) | imagine_filter('FLASH_NEWS') }}" alt="{{ flashNew.postTitle | raw }}" width="25px">
									</span>
									{{ flashNew.postTitle | raw }}
								</a>
							{% endfor %}</h3></artical>
                    </div><!-- .marquee -->
    </div><!-- .flash-news -->
    
					<div class="header-social-menu">

						    <nav class="social-navigation" role="navigation" aria-label="Social Navigation">
        <ul class="social-links-menu">
	<a href=""><li><h6 style="color:white;"> s'abonner</h6></li></a>
</ul>    </nav><!-- .social-navigation -->


					</div><!-- .header-social-menu -->
				</div><!-- .top-header-inner -->
			</div><!-- .top-header -->

							<div class="header-media-search">

					<div class="search-container">
    <form role="search" method="get" class="search" action="https://demo.themespiral.com/freenews/"  role="search"> 
        <label for='s' class='screen-reader-text'>Rechercher</label> 
            <input class="search-field" placeholder="Search&hellip;" name="s" type="search"> 
            <input class="search-submit" value="Search" type="submit">
    </form>
	
</div><!-- .search-container -->
    
    <div class="custom-header">
        <div class="custom-header-media">
            <div id="wp-custom-header" class="wp-custom-header"><img src="{{ asset('assets/wp-content/themes/freenews/images/header.jpg') }}" width="1920" height="500" alt="" /></div>        </div><!-- .custom-header-media -->
    </div><!-- .custom-header -->

				</div><!-- .header-media-search -->
						<div class="main-header-brand">
				<div class="header-brand">
					<div class="wrap">
						<div class="header-brand-content">
							    <div class="site-branding">
        <a href="index.html" class="custom-logo-link" rel="home" aria-current="page"><img width="800" height="200" src="{{ asset('assets/wp-content/uploads/sites/8/2019/04/logo.png') }}" class="custom-logo" alt="Free News" decoding="async" srcset="{{ asset('assets/wp-content/uploads/sites/8/2019/04/logo.png') }} 800w, {{ asset('assets/wp-content/uploads/sites/8/2019/04/logo-300x75.png') }} 300w, {{ asset('assets/wp-content/uploads/sites/8/2019/04/logo-768x192.png') }} 768w" sizes="(max-width: 800px) 100vw, 800px" /></a>        <div class="site-branding-text">

                           <h1 class="site-title"><a href="" rel="home">Free News</a></h1>
                                <p class="site-description">Just another Theme Spiral Demo Sites site</p>
            
        </div><!-- .site-branding-text -->
    </div><!-- .site-branding -->


							<div class="header-right">
								<div class="header-banner">

									<section id="media_image-2" class="widget widget_media_image"><a href=""><img width="728" height="90" src="{{ asset('assets/wp-content/uploads/sites/8/2019/04/promo-1.jpg') }}" class="image wp-image-149  attachment-full size-full" alt="" decoding="async" loading="lazy" style="max-width: 100%; height: auto;" srcset="{{ asset('assets/wp-content/uploads/sites/8/2019/04/promo-1.jpg 728w') }}, {{ asset('assets/wp-content/uploads/sites/8/2019/04/promo-1-300x37.jpg 300w') }}" sizes="(max-width: 728px) 100vw, 728px" /></a></section>								</div><!-- .header-banner -->
							</div><!-- .header-right -->
						</div><!-- .header-brand-content --> 
					</div><!-- .wrap -->
				</div><!-- .header-brand -->
 
				<div id="nav-sticker">
					<div class="navigation-top">
						<div class="wrap">
							<div id="site-header-menu" class="site-header-menu">
								<nav id="site-navigation" class="main-navigation" aria-label="Primary Menu">
								    <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
        <span class="toggle-text">Menu</span>
        <span class="toggle-bar"></span>
    </button>

    <ul id="primary-menu" class="menu nav-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-4 current_page_item menu-item-28"><a href="index.html" aria-current="page">Acceuil</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-165"><a href="about/index.html">A propos</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="blog/index.html">Blog</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-145"><a href="contact/index.html">Contact</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-145"><a href="/auth">Se connecter</a></li>
</ul>								</nav><!-- #site-navigation -->
            			</div>
        				</div><!-- .wrap -->
     				</div><!-- .navigation-top -->
				<div class="clock"> 
					<div id="time"></div>
					<div id="date">{{ 'now'|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}</div>
				</div>
				</div><!-- #nav-sticker -->
				       <nav class="secondary-navigation" role="navigation" aria-label="Secondary Navigation">
            <div class="wrap">
                <button class="secondary-menu-toggle" aria-controls="primary-menu" aria-expanded="false">
                    <span class="secondary-toggle-text">Menu</span>
                    <span class="secondary-toggle-bar"></span>
                </button>
                <ul id="primary-menu" class="secondary-menu"><li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-124 category-color-17"><a href="category/local-news/index.html">Actualités politiques </a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-125 category-color-18"><a href="">Analyses</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-126 category-color-19"><a href="">Internationale</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-127 category-color-24"><a href="">Interviews &#038; profils politiques </a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-128 category-color-2"><a href="">Économie politique </a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-129 category-color-6"><a href="">Partis politiques &#038; mouvements sociaux </a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-130 category-color-9"><a href="">Histoire politique </a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-131 category-color-13"><a href="">Actualités générales </a></li>

</ul>            </div><!-- .wrap -->
        </nav><!-- .secondary-navigation -->       
			</div>
<body>
	
<script type='text/javascript' src='{{ asset('assets/wp-content/plugins/contact-form-7/includes/swv/js/indexcfaa.js?ver=5.7.6') }}' id='swv-js'></script>
<script type='text/javascript' id='contact-form-7-js-extra'>
/* <![CDATA[ */
var wpcf7 = {"api":{"root":"https:\/\/demo.themespiral.com\/freenews\/wp-json\/","namespace":"contact-form-7\/v1"},"cached":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='{{ asset('assets/wp-content/plugins/contact-form-7/includes/js/indexcfaa.js?ver=5.7.6') }}' id='contact-form-7-js'></script>
<script type='text/javascript' src='{{ asset('assets/wp-includes/js/jquery/ui/core.min3f14.js?ver=1.13.2') }}' id='jquery-ui-core-js'></script>
<script type='text/javascript' src='{{ asset('assets/wp-includes/js/jquery/ui/menu.min3f14.js?ver=1.13.2') }}' id='jquery-ui-menu-js'></script>
<script type='text/javascript' src='{{ asset('assets/wp-includes/js/dist/vendor/wp-polyfill-inert.min0226.js?ver=3.1.2') }}' id='wp-polyfill-inert-js'></script>
<script type='text/javascript' src='{{ asset('assets/wp-includes/js/dist/vendor/regenerator-runtime.min8fa4.js?ver=0.13.11') }}' id='regenerator-runtime-js'></script>
<script type='text/javascript' src='{{ asset('assets/wp-includes/js/dist/vendor/wp-polyfill.min2c7c.js?ver=3.15.0') }}' id='wp-polyfill-js'></script>
<script type='text/javascript' src='{{ asset('assets/wp-includes/js/dist/dom-ready.minded6.js?ver=392bdd43726760d1f3ca') }}' id='wp-dom-ready-js'></script>
<script type='text/javascript' src='{{ asset('assets/wp-includes/js/dist/hooks.min6c65.js?ver=4169d3cf8e8d95a3d6d5') }}' id='wp-hooks-js'></script>
<script type='text/javascript' src='{{ asset('assets/wp-includes/js/dist/i18n.mine57b.js?ver=9e794f35a71bb98672ae') }}' id='wp-i18n-js'></script>
<script type='text/javascript' id='wp-i18n-js-after'>
wp.i18n.setLocaleData( { 'text direction\u0004ltr': [ 'ltr' ] } );
</script>
<script type='text/javascript' src='wp-includes/js/dist/a11y.min65c7.js?ver=ecce20f002eda4c19664' id='wp-a11y-js'></script>
<script type='text/javascript' id='jquery-ui-autocomplete-js-extra'>
/* <![CDATA[ */
var uiAutocompleteL10n = {"noResults":"No results found.","oneResult":"1 result found. Use up and down arrow keys to navigate.","manyResults":"%d results found. Use up and down arrow keys to navigate.","itemSelected":"Item selected."};
/* ]]> */
</script>
<script type='text/javascript' src='{{ asset('assets/wp-includes/js/jquery/ui/autocomplete.min3f14.js?ver=1.13.2') }}' id='jquery-ui-autocomplete-js'></script>
<script type='text/javascript' src='{{ asset('assets/wp-content/themes/freenews/assets/js/navigation.min3781.js?ver=6.2.2') }}' id='freenews-navigation-js'></script>
<script type='text/javascript' src='{{ asset('assets/wp-content/themes/freenews/assets/js/skip-link-focus-fix3781.js?ver=6.2.2') }}' id='freenews-skip-link-focus-fix-js'></script>
<script type='text/javascript' src='{{ asset('assets/wp-content/themes/freenews/assets/library/sticky-sidebar/ResizeSensor.min3781.js?ver=6.2.2') }}' id='ResizeSensor-js'></script>
<script type='text/javascript' src='{{ asset('assets/wp-content/themes/freenews/assets/library/sticky-sidebar/theia-sticky-sidebar.min3781.js?ver=6.2.2') }}' id='theia-sticky-sidebar-js'></script>
<script type='text/javascript' src='{{ asset('assets/wp-content/themes/freenews/assets/library/slick/slick.min3781.js?ver=6.2.2')}}' id='slick-js'></script>
<script type='text/javascript' src='{{ asset('assets/wp-content/themes/freenews/assets/library/slick/slick-settings3781.js?ver=6.2.2') }}' id='freenews-slick-settings-js'></script>
<script type='text/javascript' src='{{ asset('assets/wp-content/themes/freenews/assets/library/slick/slick-banner-settings3781.js?ver=6.2.2')}}' id='freenews-slick-banner-settings-js'></script>
<script type='text/javascript' src='{{ asset('assets/wp-content/themes/freenews/assets/library/sticky/jquery.sticky3781.js?ver=6.2.2') }}' id='jquery-sticky-js'></script>
<script type='text/javascript' src='{{ asset('assets/wp-content/themes/freenews/assets/library/sticky/sticky-setting3781.js?ver=6.2.2') }}' id='freenews-sticky-settings-js'></script>
<script type='text/javascript' src='{{ asset('assets/wp-content/themes/freenews/assets/library/marquee/jquery.marquee.min3781.js?ver=6.2.2') }}' id='marquee-js'></script>
<script type='text/javascript' src='{{ asset('assets/wp-content/themes/freenews/assets/library/marquee/marquee-settings3781.js?ver=6.2.2') }}' id='freenews-marquee-settings-js'></script>
	<script src='../../stats.wp.com/e-202321.js' defer></script>
	<script>
		_stq = window._stq || [];
		_stq.push([ 'view', {v:'ext',blog:'163326438',post:'4',tz:'0',srv:'demo.themespiral.com',j:'1:12.0'} ]);
		_stq.push([ 'clickTrackerInit', '163326438', '4' ]);
	</script>
</body>

<!-- Mirrored from demo.themespiral.com/freenews/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 May 2023 10:14:34 GMT -->
</html>

<!--
Performance optimized by W3 Total Cache. Learn more: https://www.boldgrid.com/w3-total-cache/


Served from: demo.themespiral.com @ 2023-05-22 10:12:34 by W3 Total Cache
-->