{{ include('admin/layout/header.html.twig') }}
<body class="hold-transition sidebar-mini layout-fixed">
	<div
		class="wrapper">

		<!-- Navbar nampidirina -->
		{{ include('admin/layout/nav-bar.html.twig') }}

		<!-- aside nampidirina -->
		{{ include('admin/layout/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="card card-maroon mt-3">
								<div class="card-header">
									<h2 class="card-title">Ajouter un pays</h2>
								</div>


								<div class="card-body">
									{{ form_start(form_country) }}
									<div class="card-body">
										<div class="form-group">
											{{ form_row(form_country) }}
										</div>
									</div>


									<div class="card-footer">
										<button type="submit" class="btn btn-danger">Enregistrer</button>
									</div>
									{{form_end(form_country)}}
								</div>
							</div>
						</div>
					</div>
				</section>

			</div>
			{{ include('admin/layout/footer.html.twig') }}

		</body>
	</html>
</body>
