{{ include('admin/layout/header.html.twig') }}
<body class="hold-transition sidebar-mini layout-fixed">
	<div
		class="wrapper">
		<!-- Navbar -->
		{{ include('admin/layout/nav-bar.html.twig') }}
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->
		{{ include('admin/layout/aside-bar.html.twig') }}

		<!-- Content Wrapper. Contains page content -->
			<div
			class="content-wrapper"> <!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-12">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item">
									<a href="#">Pays</a>
								</li>
								<li class="breadcrumb-item active">Admin</li>
							</ol>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
					<div
						class="col-lg-12">
						<!-- Horizontal Form -->
						<div class="box box-info">
							<div class="box-header with-border">
								<h3 class="box-title">Modification d'un pays</h3>
							</div>
							<!-- /.box-header -->
							<!-- form start -->
							{{ form_start(form_update) }}
							<div>
								{{form_widget(form_update)}}
							</div>

							<div class="row">
								<div class="form-group">

									{% if country.imageFile %}
										<div class="col-md-2 col-lg-2 col-xs-2 blc-image">
											<span class="delete-image pull-right">
												<a href="javascript:void(0);" id="file-{{ country.id }}" onclick="deleteFile({{ country.id }}, $(this));" class="btn_effacer" ajax-url="#">
													<span>
														<i class="fas fa-times" aria-hidden="true"></i>
													</span>
												</a>
											</span>
											<div class="image-container-block">
												<img class="img-vignette img-responsive" src="{{ country.imageFile | imagine_filter('thumbnail_list') }}"/>

											</div>
										</div>

									{% endif %}
								</div>


								<div>
									<button type="submit" class="btn btn-danger">Modifier</button>
								</div>
								{{form_end(form_update)}}

							</div>
							<!-- /.box -->
						</div>
						<!--/.col (right) -->
						<!-- /.content-header -->
						<!-- atreto -->

						<!-- Main content -->
							<section class="content"> <div
								class="container-fluid"><!-- Small boxes (Stat box) -->

							</div>
							<!-- /.container-fluid -->
						</section>
						<!-- /.content -->
					</div>
					<!-- /.container-fluid -->
				</div>
			</div>
		</div>
	</div>
	<!-- /.content-wrapper -->
	{{ include('admin/layout/footer.html.twig') }}
</body></html>
