<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	
	xmlns:georss="http://www.georss.org/georss"
	xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#"
	>

<channel>
	<title>Local News Archives - Free News</title>
	<atom:link href="https://demo.themespiral.com/freenews/category/local-news/feed/" rel="self" type="application/rss+xml" />
	<link>https://demo.themespiral.com/freenews/category/local-news/</link>
	<description>Just another Theme Spiral Demo Sites site</description>
	<lastBuildDate>Fri, 12 Apr 2019 05:59:16 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>

<image>
	<url>https://demo.themespiral.com/freenews/wp-content/uploads/sites/8/2019/04/cropped-fab-shoppingcart-32x32.jpg</url>
	<title>Local News Archives - Free News</title>
	<link>https://demo.themespiral.com/freenews/category/local-news/</link>
	<width>32</width>
	<height>32</height>
</image> 
<site xmlns="com-wordpress:feed-additions:1">163326438</site>	<item>
		<title>How to stay safe in and around water</title>
		<link>https://demo.themespiral.com/freenews/2019/04/11/how-to-stay-safe-in-and-around-water/</link>
		
		<dc:creator><![CDATA[Theme Spiral]]></dc:creator>
		<pubDate>Thu, 11 Apr 2019 07:23:59 +0000</pubDate>
				<category><![CDATA[Local News]]></category>
		<guid isPermaLink="false">https://demo.themespiral.com/freenews/?p=72</guid>

					<description><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi &#8230; <a href="https://demo.themespiral.com/freenews/2019/04/11/how-to-stay-safe-in-and-around-water/" class="more-link">Read More</a></p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/how-to-stay-safe-in-and-around-water/">How to stay safe in and around water</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></description>
										<content:encoded><![CDATA[
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
mollit anim id est laborum.

</p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/how-to-stay-safe-in-and-around-water/">How to stay safe in and around water</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></content:encoded>
					
		
		
		<post-id xmlns="com-wordpress:feed-additions:1">72</post-id>	</item>
		<item>
		<title>Olympic protest runner finally rewarded</title>
		<link>https://demo.themespiral.com/freenews/2019/04/11/olympic-protest-runner-finally-rewarded/</link>
		
		<dc:creator><![CDATA[Theme Spiral]]></dc:creator>
		<pubDate>Thu, 11 Apr 2019 07:18:45 +0000</pubDate>
				<category><![CDATA[Local News]]></category>
		<guid isPermaLink="false">https://demo.themespiral.com/freenews/?p=70</guid>

					<description><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi &#8230; <a href="https://demo.themespiral.com/freenews/2019/04/11/olympic-protest-runner-finally-rewarded/" class="more-link">Read More</a></p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/olympic-protest-runner-finally-rewarded/">Olympic protest runner finally rewarded</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></description>
										<content:encoded><![CDATA[
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/olympic-protest-runner-finally-rewarded/">Olympic protest runner finally rewarded</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></content:encoded>
					
		
		
		<post-id xmlns="com-wordpress:feed-additions:1">70</post-id>	</item>
		<item>
		<title>&#8216;Hero&#8217; digs road by hand for villagers</title>
		<link>https://demo.themespiral.com/freenews/2019/04/11/hero-digs-road-by-hand-for-villagers/</link>
		
		<dc:creator><![CDATA[Theme Spiral]]></dc:creator>
		<pubDate>Thu, 11 Apr 2019 07:10:26 +0000</pubDate>
				<category><![CDATA[Local News]]></category>
		<guid isPermaLink="false">https://demo.themespiral.com/freenews/?p=68</guid>

					<description><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi &#8230; <a href="https://demo.themespiral.com/freenews/2019/04/11/hero-digs-road-by-hand-for-villagers/" class="more-link">Read More</a></p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/hero-digs-road-by-hand-for-villagers/">&#8216;Hero&#8217; digs road by hand for villagers</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></description>
										<content:encoded><![CDATA[
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
mollit anim id est laborum.

</p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/hero-digs-road-by-hand-for-villagers/">&#8216;Hero&#8217; digs road by hand for villagers</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></content:encoded>
					
		
		
		<post-id xmlns="com-wordpress:feed-additions:1">68</post-id>	</item>
		<item>
		<title>Does drinking milk make stronger bones?</title>
		<link>https://demo.themespiral.com/freenews/2019/04/11/does-drinking-milk-make-stronger-bones/</link>
		
		<dc:creator><![CDATA[Theme Spiral]]></dc:creator>
		<pubDate>Thu, 11 Apr 2019 06:57:21 +0000</pubDate>
				<category><![CDATA[Local News]]></category>
		<guid isPermaLink="false">https://demo.themespiral.com/freenews/?p=62</guid>

					<description><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi &#8230; <a href="https://demo.themespiral.com/freenews/2019/04/11/does-drinking-milk-make-stronger-bones/" class="more-link">Read More</a></p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/does-drinking-milk-make-stronger-bones/">Does drinking milk make stronger bones?</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></description>
										<content:encoded><![CDATA[
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/does-drinking-milk-make-stronger-bones/">Does drinking milk make stronger bones?</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></content:encoded>
					
		
		
		<post-id xmlns="com-wordpress:feed-additions:1">62</post-id>	</item>
	</channel>
</rss>

<!--
Performance optimized by W3 Total Cache. Learn more: https://www.boldgrid.com/w3-total-cache/


Served from: demo.themespiral.com @ 2023-05-22 10:16:09 by W3 Total Cache
-->