{% set menu_post        = true %}
{{ include('admin/layout/header.html.twig') }}
<body class="hold-transition sidebar-mini layout-fixed">
	<div
		class="wrapper">

		<!-- Navbar nampidirina -->
		{{ include('admin/layout/nav-bar.html.twig') }}

		<!-- aside nampidirina -->
		{{ include('admin/layout/aside-bar.html.twig') }}

		<div class="content-wrapper">


			<section class="content">
				<div class="container-fluid">

					<div class="content-header">
						<div class="container-fluid">
							<div class="row mb-2">
								<div class="col-sm-6">
									<h1 class="m-0">Corbeille des articles</h1>
								</div>
								<!-- /.col -->
								<div class="col-sm-6">
									<ol class="breadcrumb float-sm-right">
										<li class="breadcrumb-item">
											<a href="{{ path('list_post') }}">Retourner dans la liste</a>
										</li>
										<li class="breadcrumb-item active">Admin</li>
									</ol>
								</div>
							</div>
						</div>
					</div>
					{% if msg !=null %}
						<div class="alert alert-success alert-dismissible">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							<h5>
								<i class="icon fas fa-check"></i>Succès</h5>
							{{ msg }}
						</div>
					{% endif %}
					<div class="card card-pink mt-3">
						<div class="card-header">
							<h3 class="card-title">Liste de tous les articles supprimés</h3>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<table id="post" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>Id</th>
										<th>Titre</th>
										<th>Catégorie(s)</th>
										<th>Image à la une</th>
										<th>Auteur</th>
										<th>Date de création</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									 {% set i=0 %}
									                  {% for post in deleted_posts %}
									                    <tr>
									                        {% set i = i + 1 %}
									                          <td>{{i}}</td>
									                          <td>{{post.postTitle}}</td>
									                          <td>
									                          {% set postCategory = post.categories.getSnapshot %}
									                          {% set j = -1 %}
									                          {% for category in  postCategory %}
									                            {% set j = j + 1 %}
									                            {{ category.categoryTitle }}<br>
									                          {% endfor %}
									                          
									                        </td>
									                          <td style="text-align: center">
									                              {% if post.postPhotos is defined and post.postPhotos is not empty %}
									                                <img src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('thumbnail_list') }}" alt="{{ post.postTitle }}">
									                              {% endif %}
									                          </td>
									                          <td>{{post.User.UserName}}</td>
									                          <td>{{post.postCreatedAt|date}}</td>
									                          <td>
									                              <div class="btn-group">
									                            
									                                <a href="{{ path('restore_post',{id: post.id})}}" class="btn btn-danger btn-sm">Restaurer</a>
									                                   
									                              </div>
									                          </td>
									                    </tr>
									                  {% endfor %}
								</tbody>

							</table>
						</div>
						<!-- /.card-body -->
						<div class="card-footer">
							{% do deleted_posts.setPageRange(2) %}
							{{ knp_pagination_render(deleted_posts, "partials/layouts/front/_pagination.html.twig") }}
						</div>
					</div>
				</div>
			</section>

		</div>
		{{ include('admin/layout/footer.html.twig') }}
	</body>
</body></html>
