{% set menu_post        = true %}
{{ include('admin/layout/header.html.twig') }}
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

<!-- Navbar nampidirina -->
{{ include('admin/layout/nav-bar.html.twig') }}

<!-- aside nampidirina -->
{{ include('admin/layout/aside-bar.html.twig') }}

  <div class="content-wrapper">
            
    <section class="content">
      <div class="container-fluid">
         <div class="row">
           <div class="col-lg-12">
             <div class="card card-pink mt-3">
              <div class="card-header">
                <h2 class="card-title">Modification de l'article "{{ post.postTitle }}"</h2>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              {{ form_start(form) }}
                <div class="card-body">
                  {{form_widget(form)}}
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-danger">Modifier</button>
                </div>
              {{form_end(form)}}
            </div>
                
              
           </div>
         </div>      
      </div>
    </section>
 
  </div>
{{ include('admin/layout/footer.html.twig') }}  

<script>

	const postTitle = document.querySelector('.postTitle');
const postUrl = document.querySelector('.postUrl');
const imageFileClass = document.querySelector('.imageFileClass');
const videoFileClass = document.querySelector('.videoFileClass');

const slugify = (text) => {
return text.toString().normalize('NFD').replace(/[\u0300-\u036f]/g, '').toLowerCase().trim().replace(/\s+/g, '-').replace(/[^\w\-]+/g, '').replace(/\-\-+/g, '-');
};

postTitle.addEventListener('change', function () {
postUrl.value = slugify(postTitle.value);
}, false);

postTitle.addEventListener('keypress', function () {
postUrl.value = slugify(postTitle.value);
}, false);

postTitle.addEventListener('mouseup', function () {
postUrl.value = slugify(postTitle.value);
}, false);

postTitle.addEventListener('keyup', function () {
postUrl.value = slugify(postTitle.value);
}, false);


imageFileClass.addEventListener('change', function (event) {
document.querySelectorAll('.custom-file-label')[0].textContent = event.target.value.split("\\").pop();

}, false);

videoFileClass.addEventListener('change', function (event) {
document.querySelectorAll('.custom-file-label')[1].textContent = event.target.value.split("\\").pop();

}, false);
$(document).ready(function() {
	$('.categorie-select').select2({
		// theme: 'classic',
		// placeholder: 'Yooo'

	});
});
</script>

</body>
</html>
