<footer class="site-footer">
	<div class="primary-footer">
		<div class="container-wrapper">
			<div class="af-container-row">
				<div class="primary-footer-area footer-first-widgets-section col-md-4 col-sm-12">
					<section class="widget-area color-pad">

						<div id="recent-posts-3" class="widget newsever-widget widget_recent_entries">
							<h2 class="widget-title widget-title-1">
								<span class="header-after">Articles récents</span>
							</h2>
							<ul>
								{% for flashNew in flashNews %}
									<li>
										<a href="{{ path('app_da_post_detail', { postUrl : flashNew.postUrl } ) }}">{{ flashNew.postTitle | raw }}</a>
									</li>
								{% endfor %}
							</ul>

						</div>
					</section>
				</div>

				<div class="primary-footer-area footer-second-widgets-section col-md-4  col-sm-12">
					<section class="widget-area color-pad">
						<div id="search-3" class="widget newsever-widget widget_search">
							<h2 class="widget-title widget-title-1">
								<span class="header-after">Recherche</span>
							</h2>
							<form role="search" method="get" class="search-form" action="{{ path('app_da_search') }}">
								<label>
									<span class="screen-reader-text">Rechercher :</span>
									<input type="search" class="search-field" placeholder="Rechercher…" value="" name="s"/>
								</label>
								<input type="submit" class="search-submit" value="Rechercher"/>
							</form>
						</div>
					</section>
				</div>

				<div class="primary-footer-area footer-third-widgets-section col-md-4  col-sm-12">
					<section class="widget-area color-pad">
						<div id="archives-3" class="widget newsever-widget widget_archive">
							<h2 class="widget-title widget-title-1">
								<span class="header-after">Archives</span>
							</h2>
							<ul>
								{% for archive in archives %}
									<li>
										<a href='{{ path('app_da_archive_post', { year : get_archive_date_year(archive), month: get_archive_date_month(archive) }) }}'>{{ get_archive_date_full_written(archive) }}</a>
									</li>
								{% endfor %}
							</ul>

						</div>
					</section>
				</div>
			</div>
		</div>
	</div>

	<div class="site-info">
		<div class="container-wrapper">
			<div class="af-container-row">
				<div class="col-1 color-pad">
					Copyright © DAILY-AFRICA
					<span class="sep">
						|
					</span>
					Gate Company International.
				</div>
			</div>
		</div>
	</div>
</footer>
