<header id="masthead" class="header-style1 header-layout-side">

	<div class="top-header">
		<div class="container-wrapper">
			<div class="top-bar-flex">
				<div class="top-bar-left col-66">
					<div class="date-bar-left">
						<span class="topbar-date">
							{{ 'now'|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}
						</span>
					</div>

					{% if app.user %}
						<div class="af-secondary-menu">
							<div class="container-wrapper">
								<div class="aft-secondary-nav-wrapper">
									<div class="aft-small-secondary-nav">
										<div class="aft-secondary-navigation">
											<ul id="aft-secondary-menu" class="menu">
												<li id="menu-item-2701" class="xoo-el-firstname-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-2701">
													<a>
														<img alt="" src="https://secure.gravatar.com/avatar/d0e622918442285319cda273f82b8965?s=96&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/d0e622918442285319cda273f82b8965?s=192&amp;d=mm&amp;r=g 2x" class="avatar avatar-96 photo" height="96" width="96" loading="lazy">
														Bonjour, {{ app.user.userFullname }} &nbsp; | &nbsp;
														{% if "ROLE_ADMIN" in app.user.roles %}
															<a style="color: orange" href="{{ path('admin') }}">Tableau de board</a>
														{% elseif "ROLE_JOURNALIST" in app.user.roles %}
															<a style="color: orange" href="{{ path('journalist') }}">Mes articles</a>
														{% endif %}
													</a>
												</li>
												<li id="menu-item-2700" class="xoo-el-logout-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-2700">
													<a href="{{ path('logout') }}">Déconnexion</a>
												</li>
											</ul>
										</div>
									</div>
								</div>

							</div>
						</div>
						{% else %}
							<div class="af-secondary-menu">
								<div class="container-wrapper">
									<div class="aft-secondary-nav-wrapper">
										<div class="aft-small-secondary-nav">
											<div class="aft-secondary-navigation">
												<ul id="aft-secondary-menu" class="menu">
													<li id="menu-item-2699" class="xoo-el-login-tgr menu-item menu-item-type-custom menu-item-object-custom menu-item-2699">
														<a>S'abonner</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
					{% endif %}

				</div>
				<div class="top-bar-right col-3">
					<span class="aft-small-social-menu"></span>
				</div>
			</div>
		</div>

	</div>
	<div class="main-header  data-bg" data-background="{{ asset('assets/_front/images/cropped-daily-scaled-1.jpg') }}">
		<div class="container-wrapper">
			<div class="af-container-row af-flex-container">

				<div class="col-1 float-l pad">
					<div class="logo-brand">
						<div class="site-branding">
							<a href="{{ path('app_da_home') }}" class="custom-logo-link" rel="home" aria-current="page"><img width="480" height="480" src="{{ asset('assets/_front/images/Daily-africa-01-01-1.png') }}" class="custom-logo" alt="DAILY-AFRICA" srcset="{{ asset('assets/_front/images/Daily-africa-01-01-1.png') }} 480w, {{ asset('assets/_front/images/Daily-africa-01-01-1.png') }} 300w, {{ asset('assets/_front/images/Daily-africa-01-01-1.png') }} 150w" sizes="(max-width: 480px) 100vw, 480px"/></a>
							<h1 class="site-title font-family-1">
								<a href="{{ path('app_da_home') }}" rel="home">DAILY-AFRICA</a>
							</h1>

						</div>
					</div>
				</div>


			</div>
		</div>

	</div>
	<div class="exclusive-news">
		<div class="banner-exclusive-posts-wrapper clearfix">


			<div class="container-wrapper">
				<div class="exclusive-posts">
					<div class="exclusive-now primary-color">
						<span class="exclusive-news-title">
							Exclusive
						</span>
						<div class="exclusive-now-txt-animation-wrap">
							<span class="fancy-spinner">
								<div class="ring"></div>
								<div class="ring"></div>
								<div class="dot"></div>
							</span>
							<span class="exclusive-texts-wrapper">
								<span class="exclusive-news-subtitle af-exclusive-animation">
									<span>Flash News</span>
								</span>
							</span>
						</div>
					</div>
					<div class="exclusive-slides" dir="ltr">
						<div class='marquee aft-flash-slide left' data-speed='80000' data-gap='0' data-duplicated='true' data-direction="left">
							{% for flashNew in flashNews %}
								<a href="{{ path('app_da_post_detail', { postUrl : flashNew.postUrl } ) }}">
									<span class="circle-marq">
										<img src="{{ vich_uploader_asset(flashNew) | imagine_filter('FLASH_NEWS') }}" alt="{{ flashNew.postTitle | raw }}">
									</span>
									{{ flashNew.postTitle | raw }}
								</a>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Excluive line END -->
	</div>

	<div class="header-menu-part">
		<div id="main-navigation-bar" class="bottom-bar">
			<div class="navigation-section-wrapper">
				<div class="container-wrapper">
					<div class="header-middle-part">
						<div class="navigation-container">
							<nav class="main-navigation clearfix">
								<span class="aft-home-icon">
									<a href="{{ path('app_da_home') }}">
										<i class="fa fa-home" aria-hidden="true"></i>
									</a>
								</span>
								<span class="toggle-menu" aria-controls="primary-menu" aria-expanded="false">
									<a href="javascript:void(0)" class="aft-void-menu">
										<span class="screen-reader-text">
											Menu Primaire
										</span>
										<i class="ham"></i>
									</a>
								</span>
								<div class="menu main-menu menu-desktop show-menu-border">
									<ul id="primary-menu" class="menu">
										<li id="menu-item-692" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-692">
											<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : 'a-la-une' }) }}">A la une</a>
										</li>
										<li id="menu-item-703" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-703">
											<a href="#">Rubriques</a>
											<ul class="sub-menu">
												<li id="menu-item-693" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-693">
													<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : 'politique' }) }}">Politique</a>
												</li>
												<li id="menu-item-696" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-696">
													<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : 'economie' }) }}">Economie</a>
												</li>
												<li id="menu-item-694" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-694">
													<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : 'societe' }) }}">Société</a>
												</li>
												<li id="menu-item-698" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-698">
													<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : 'sciences-et-technologie' }) }}">Sciences et Téchnologie</a>
												</li>
												<li id="menu-item-65" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-65">
													<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : 'sports' }) }}">Sports</a>
												</li>
												<li id="menu-item-697" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-697">
													<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : 'culture' }) }}">Culture</a>
												</li>
											</ul>
										</li>
										<li id="menu-item-695" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-695">
											<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : 'divers' }) }}">Divers</a>
										</li>
										<li id="menu-item-700" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-700">
											<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : 'grand-dossier' }) }}">Grand dossier</a>
										</li>
										<li id="menu-item-701" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-701">
											<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : 'videos' }) }}">Vidéos</a>
										</li>
										<li id="menu-item-699" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-699">
											<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : 'edito' }) }}">Edito</a>
										</li>
										<li id="menu-item-699" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-699">
											<a href="{{ path('auth') }}">Se connecter</a>
										</li>
									</ul>
								</div>
							</nav>
						</div>
					</div>
					<div class="header-right-part">
						<div class="af-search-wrap">
							<div class="search-overlay">
								<a href="#" title="Search" class="search-icon">
									<i class="fa fa-search"></i>
								</a>
								<div class="af-search-form">
									<form role="search" method="get" class="search-form" action="{{ path('app_da_search') }}">
										<label>
											<span class="screen-reader-text">Rechercher :</span>
											<input type="search" class="search-field" placeholder="Rechercher…" value="" name="s"/>
										</label>
										<input type="submit" class="search-submit" value="Rechercher"/>
									</form>
								</div>
							</div>
						</div>
						<div class="popular-tag-custom-link"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

</header>
