{#
/**
 * @file
 * Twitter Bootstrap v4 Sliding pagination control implementation.
 *
 * View that can be used with the pagination module
 * from the Twitter Bootstrap CSS Toolkit
 * https://getbootstrap.com/docs/4.5/components/pagination/
 *
 */
#}
{% if pageCount > 1 %}
	<nav class="" aria-label="Publications">
		{% set classAlign = (align is not defined) ? '' : align=='center' ? ' justify-content-center' : (align=='right' ? ' justify-content-end' : '') %}
		{% set classSize = (size is not defined) ? '' : size=='large' ? ' pagination-lg' : (size=='small' ? ' pagination-sm' : '') %}
		<ul class="navigation pagination{{ classAlign }}{{ classSize }}">

			{% if previous is defined %}
				<li class="page-item">
					<a class="page-numbers" rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">Précedente</a>
				</li>
			{% else %}
				<li class="page-item disabled">
					<span class="page-numbers">Précedente</span>
				</li>
			{% endif %}

			{% if startPage > 1 %}
				<li class="page-item">
					<a class="page-numbers" href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
				</li>
				{% if startPage == 3 %}
					<li class="page-item">
						<a class="page-numbers" href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
					</li>
				{% elseif startPage != 2 %}
					<li class="page-item disabled">
						<span class="page-numbers">&hellip;</span>
					</li>
				{% endif %}
			{% endif %}

			{% for page in pagesInRange %}
				{% if page != current %}
					<li class="page-item">
						<a class="page-numbers" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
					</li>
				{% else %}
					<li class="page-item active">
						<span class="page-numbers">{{ page }}</span>
					</li>
				{% endif %}

			{% endfor %}

			{% if pageCount > endPage %}
				{% if pageCount > (endPage + 1) %}
					{% if pageCount > (endPage + 2) %}
						<li class="page-item disabled">
							<span class="page-numbers">&hellip;</span>
						</li>
					{% else %}
						<li class="page-item">
							<a class="page-numbers" href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
						</li>
					{% endif %}
				{% endif %}
				<li class="page-item">
					<a class="page-numbers" href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
				</li>
			{% endif %}

			{% if next is defined %}
				<li class="page-item">
					<a class="page-numbers" rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}">Suivante</a>
				</li>
			{% else %}
				<li class="page-item disabled">
					<span class="page-numbers">Suivante</span>
				</li>
			{% endif %}
		</ul>
	</nav>
{% endif %}
