<nav
	class="main-header navbar navbar-expand navbar-white navbar-light">
	<!-- Left navbar links -->
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" data-widget="pushmenu" href="#" role="button">
				<i class="fas fa-bars"></i>
			</a>
		</li>
		<li class="nav-item d-none d-sm-inline-block">
			<a href="/" class="nav-link">Home</a>
		</li>

	</ul>

	<!-- Right navbar links -->
	<ul
		class="navbar-nav ml-auto">

		<!-- Messages Dropdown Menu -->
		<li class="nav-item dropdown">
			<a class="nav-link" data-toggle="dropdown" href="#">
				<i class="far fa-comments"></i>
				<span class="badge badge-danger navbar-badge">{{nbr_message_non_lu}}</span>
			</a>
			<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
				{% for msg in message%}
					<a
						href="{{ path('msgNousContacterView', {id:msg.id }) }}" class="dropdown-item">
						<!-- Message Start -->
						<div class="media">
							<img src="{{ asset('images/avatars/ca6d2e1d02e87ccf8c99f730061beb95.png') }}" alt="User Avatar" class="img-size-50 mr-3 img-circle">
							<div class="media-body">
								<h3 class="dropdown-item-title">
									{{ msg.Nom }}
									<span class="float-right text-sm text-danger">
										<i class="fas fa-star"></i>
									</span>
								</h3>
								<p class="text-sm">{{ msg.message }}</p>
								<p class="text-sm text-muted">
									<i class="far fa-clock mr-1"></i>
									{{ msg.createdAt|ago }}</p>
							</div>
						</div>

					</a>
					<div class="dropdown-divider"></div>
				{% endfor %}
				<div class="dropdown-divider"></div>
				<a href="{{ path('msgNousContacter') }}" class="dropdown-item dropdown-footer">See All Messages</a>
			</div>
		</li>

		<li class="nav-item dropdown">
			<a class="nav-link" data-toggle="dropdown" href="#">
				<i class="far fa-bell"></i>
				<span
					class="badge badge-warning navbar-badge">
					<!-- les nbr pour compter les données -->
					{{nbr_comm_non_approuve + nbr_message_non_lu + nbr_post_non_approuve}}</span>
			</a>
			<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
				<span class="dropdown-item dropdown-header">{{nbr_comm_non_approuve+nbr_message_non_lu+nbr_post_non_approuve}}
					Notifications</span>
				<div class="dropdown-divider"></div>
				<a href="{{ path('msgNousContacter') }}" class="dropdown-item">
					<i class="fas fa-envelope mr-2"></i>
					{{nbr_message_non_lu}}
					new messages
					<span class="float-right text-muted text-sm">3 mins</span>
				</a>
				<div class="dropdown-divider"></div>
				<a href="{{ path('approuve_comment') }}" class="dropdown-item">
					<i class="fas fa-comment mr-2"></i>
					{{nbr_comm_non_approuve}}
					commentaire(s)
					<span class="float-right text-muted text-sm">12 hours</span>
				</a>
				<div class="dropdown-divider"></div>
				<a href="{{ path('approuve_post') }}" class="dropdown-item">
					<i class="fas fa-file mr-2"></i>
					{{nbr_post_non_approuve}}
					article(s)
					<span class="float-right text-muted text-sm">2 days</span>
				</a>

			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-widget="fullscreen" href="#" role="button">
				<i class="fas fa-expand-arrows-alt"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
				<i class="fas fa-cog"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ path('logout') }}" role="button">
				<i class="fas fa-power-off"></i>
			</a>
		</li>
	</ul>
</nav>
