{% set menu_comment        = true %}
{{ include('admin/layout/header.html.twig') }}
<body class="hold-transition sidebar-mini layout-fixed">
	<div
		class="wrapper">
		<!-- Navbar -->
		{{ include('admin/layout/nav-bar.html.twig') }}
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->
		{{ include('admin/layout/aside-bar.html.twig') }}

		<!-- Content Wrapper. Contains page content -->
			<div
			class="content-wrapper"> <!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-12">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item">
									<a href="#">Commentaire</a>
								</li>
								<li class="breadcrumb-item active">Admin</li>
							</ol>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
					<div
						class="col-lg-12">
						<!-- Horizontal Form -->
						<div class="box box-info">
							<div class="box-header with-border">
								<h3 class="box-title">Modifier le commentaire</h3>
							</div>
							<!-- /.box-header -->
							<!-- form start -->
							{{ form_start(form_com_upd) }}
							<div>
								{{form_row(form_com_upd.postCommentContent,{'attr':{'class':"form-control mb-3"}})}}
							</div>
							<!-- /.card-body -->

							<div>
								<button type="submit" class="btn btn-danger">Modifier</button>
							</div>
							{{form_end(form_com_upd)}}

						</div>
						<!-- /.box -->
					</div>
					<!--/.col (right) -->
					<!-- /.content-header -->
					<!-- atreto -->

					<!-- Main content -->
						<section class="content"> <div
							class="container-fluid"><!-- Small boxes (Stat box) -->

						</div>
						<!-- /.container-fluid -->
					</section>
					<!-- /.content -->
				</div>
				<!-- /.container-fluid -->
			</div>
		</div>
		<!-- /.content-wrapper -->
		{{ include('admin/layout/footer.html.twig') }}</body>
</body></html>
