<div id="secondary" class="sidebar-area aft-sticky-sidebar">
	<div class="theiaStickySidebar">
		<aside class="widget-area color-pad">
			<div id="text-3" class="widget newsever-widget widget_text">
				<h2 class="widget-title widget-title-1">
					<span class="header-after">Carte africa</span>
				</h2>
				<div id="map">
					<div class="textwidget map__image">
						{% include "partials/layouts/front/africa-svg.html.twig" %}
					</div>
				</div>
			</div>
			<div id="text-3" class="widget newsever-widget widget_text">
				<h2 class="widget-title widget-title-1">
					<span class="header-after">Publicité</span>
				</h2>
				<div class="textwidget">
					<p style="font-weight: 400;">Où que vous soyez, en Afrique ou dans le monde, passez à l&rsquo;étape suivante de votre carrière sans vous déplacer. Grâce à l’Université E-Media 100% en ligne, décrochez un diplôme prestigieux de LICENCE ou de MASTER. Bénéficiez d&rsquo;une plus grande souplesse dans l&rsquo;accomplissement de vos études et suivez des cours tout en travaillant à temps plein.</p>
					<p style="font-weight: 400;">Inscrivez-vous dès maintenant, et rejoignez une université à dimension internationale</p>
				</div>
			</div>
			<div id="media_image-3" class="widget newsever-widget widget_media_image">
				<a href="http://e-media-madagascar.com"><img width="300" height="225" src="{{ asset('assets/_front/images/191265314_1589411194590680_724942096018861904_n.jpg') }}" class="image wp-image-2241  attachment-medium size-medium" alt="" loading="lazy" style="max-width: 100%; height: auto;" sizes="(max-width: 300px) 100vw, 300px"/></a>
			</div>
			{% include "front/aside-news.html..twig" %}
		</aside>
	</div>
</div>

{% block stylesheet %}
	<style type="text/css">
		.map {
			border-radius: 8px;
			padding: 12px;
			margin: auto;
			box-shadow: 0.5px 0.5px 2px 0.5px;
		}
		path {
			fill: #f2f2f2 !important;
			stroke: "black";
			stroke-width: 2px;
			transition: fill 0.3s;
		}
		path:hover {
			fill: #f25600 !important;
		}
	</style>

{% endblock %}


{% block javascript %}
	<script>



		var map = document.querySelector('#map');
		var paths = map.querySelectorAll(".map__image a");

		const slugify_city = (text) => {
		return text.toString().normalize('NFD').replace(/[\u0300-\u036f]/g, '').toLowerCase().trim().replace(/\s+/g, '-').replace(/[^\w\-]+/g, '').replace(/\-\-+/g, '-');
		};

		paths.forEach((path) => {
			path.addEventListener("click", function (e) {
			e.preventDefault();
			document.location = "/category/" + slugify_city(e.target.getAttribute('data-name'));
		}, false);
		});


	</script>
{% endblock %}

