<div class="af-main-banner-latest-posts grid-layout">
	<div class="container-wrapper">
		<div class="af-container-block-wrapper pad-20">
			<div class="widget-title-section">
				<h4 class="widget-title header-after1">
					<span class="header-after">
						À lire également
					</span>
				</h4>

			</div>
			<div class="af-container-row clearfix">
				{% for rm in readMore %}
					<div class="col-4 pad float-l" data-mh="you-may-have-missed">
						<div class="read-single color-pad">
							<div class="read-img pos-rel read-bg-img">
								<a href="{{ path('app_da_post_detail', { postUrl : rm.postUrl } ) }}">
									<img width="300" height="200" src="{{ vich_uploader_asset(rm) | imagine_filter('SOCIETE') }}" class="attachment-medium size-medium wp-post-image" alt="" loading="lazy" sizes="(max-width: 300px) 100vw, 300px"/>
								</a>
								<div class="min-read-post-format">
									<span class="min-read-item">
										<span class="min-read">{{ read_time(rm.postContent) }}
											de lecture</span>
									</span>
								</div>

							</div>
							<div class="read-details color-tp-pad">

								<div class="read-categories">
									<ul class="cat-links">
										{% for category in rm.categories %}
											<li class="meta-category">
												<a class="newsever-categories category-color-1" href="{{ path('app_da_post_category_detail', { postCategoryUrl : category.postCategoryUrl }) }}" alt="Voir toutes les actualitées">
													{{ category.categoryTitle }}
												</a>
											</li>
										{% endfor %}
									</ul>
								</div>
								<div class="read-title">
									<h4>
										<a href="{{ path('app_da_post_detail', { postUrl : rm.postUrl } ) }}">{{ rm.postTitle | raw }}</a>
									</h4>
								</div>
								<div class="entry-meta">

									<span class="author-links">

										<span class="item-metadata posts-date">
											<i class="fa fa-clock-o"></i>
											{% if rm.postPublishedAt %}
																		{{ rm.postPublishedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}
																	{% else %}
																		{{ rm.postCreatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}
																	{% endif %}
										</span>

										<span class="item-metadata posts-author byline">
											<i class="fa fa-pencil-square-o"></i>
											<a href="{{ path('app_da_user_post', { userName : rm.user } ) }}">
												{{ rm.user.userFullname }}
											</a>
										</span>

									</span>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</div>
</div>
