<div id="newsever_tabbed_posts-2" class="widget newsever-widget newsever_tabbed_posts_widget aft-widget-background-default solid-background">
	<div class="tabbed-container">
		<div class="tabbed-head">
			<ul class="nav nav-tabs af-tabs tab-warpper" role="tablist">
				<li class="tab tab-recent">
					<a href="#tabbed-2-recent" aria-controls="Recent" role="tab" data-toggle="tab" class="font-family-1 active">
						<i class="fa fa-bolt" aria-hidden="true"></i>
						Latest
					</a>
				</li>
				<li role="presentation" class="tab tab-popular">
					<a href="#tabbed-2-popular" aria-controls="Popular" role="tab" data-toggle="tab" class="font-family-1">
						<i class="fa fa-clock-o" aria-hidden="true"></i>
						Popular
					</a>
				</li>

				<li class="tab tab-categorised">
					<a href="#tabbed-2-categorised" aria-controls="Categorised" role="tab" data-toggle="tab" class="font-family-1">
						<i class="fa fa-fire" aria-hidden="true"></i>
						Trending
					</a>
				</li>
			</ul>
		</div>
		<div class="widget-block widget-wrapper">
			<div class="tab-content">
				<div id="tabbed-2-recent" role="tabpanel" class="tab-pane active">
					<ul class="article-item article-list-item article-tabbed-list article-item-left">
						{% for flashNew in flashNews %}
							<li class="af-double-column list-style">
								<div class="read-single color-pad">
									<div class="read-img pos-rel col-4 float-l read-bg-img">
										<a href="{{ path('app_da_post_detail', { postUrl : flashNew.postUrl } ) }}">
											<img width="150" height="150" src="{{ vich_uploader_asset(flashNew) | imagine_filter('FLASH_NEWS') }}" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" loading="lazy"/>
										</a>
										<div class="min-read-post-format">
											<span class="min-read-item">
												<span class="min-read">{{ read_time(flashNew.postContent) }}
													de lecture</span>
											</span>
										</div>

									</div>
									<div class="read-details col-75 float-l pad color-tp-pad">
										<div class="full-item-metadata primary-font">
											<div class="read-categories">

												<ul class="cat-links">
													{% for category in flashNew.categories %}
														<li class="meta-category">
															<a class="newsever-categories category-color-1" href="{{ path('app_da_post_category_detail', { postCategoryUrl : category.postCategoryUrl }) }}" alt="Voir toutes les actualitées">
																{{ category.categoryTitle }}
															</a>
														</li>
													{% endfor %}
												</ul>
											</div>
										</div>
										<div class="full-item-content">
											<div class="read-title">
												<h4>
													<a href="{{ path('app_da_post_detail', { postUrl : flashNew.postUrl } ) }}">{{ flashNew.postTitle | raw }}</a>
												</h4>
											</div>
											<div class="entry-meta">

												<span class="author-links">

													<span class="item-metadata posts-date">
														<i class="fa fa-clock-o"></i>
														{{ flashNew.postCreatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}
													</span>

													<span class="item-metadata posts-author byline">
														<i class="fa fa-pencil-square-o"></i>
														<a href="{{ path('app_da_user_post', { userName : flashNew.user } ) }}">
															{{ flashNew.user.userFullname }}
														</a>
													</span>

												</span>
											</div>
										</div>
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div id="tabbed-2-popular" role="tabpanel" class="tab-pane">
					<ul class="article-item article-list-item article-tabbed-list article-item-left">
						<li class="af-double-column list-style">
							<div class="read-single color-pad">
								<div class="read-details col-75 float-l pad color-tp-pad">
									<div class="full-item-metadata primary-font">
										<div class="read-categories">

											<ul class="cat-links">
												<li class="meta-category">
													<a class="newsever-categories category-color-1" href="https://daily-africa.com/category/non-classe/" alt="View all posts in Non classé">
														Non classé
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="full-item-content">
										<div class="read-title">
											<h4>
												<a href="https://daily-africa.com/2021/02/04/bonjour-tout-le-monde/">
													Bonjour tout le monde !
												</a>
											</h4>
										</div>
										<div class="entry-meta">

											<span class="author-links">

												<span class="item-metadata posts-date">
													<i class="fa fa-clock-o"></i>
													4 février 2021
												</span>

												<span class="item-metadata posts-author byline">
													<i class="fa fa-pencil-square-o"></i>
													<a href="https://daily-africa.com/author/infoaf/">
														infoAf
													</a>
												</span>

											</span>
										</div>
									</div>
								</div>
							</div>
						</li>
						{% for alu in alaunes %}
							<li class="af-double-column list-style">
								<div class="read-single color-pad">
									<div class="read-img pos-rel col-4 float-l read-bg-img">
										<a href="{{ path('app_da_post_detail', { postUrl : alu.postUrl } ) }}">
											<img width="150" height="150" src="{{ vich_uploader_asset(alu) | imagine_filter('FLASH_NEWS') }}" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" loading="lazy"/>
										</a>
										<div class="min-read-post-format">
											<span class="min-read-item">
												<span class="min-read">{{ read_time(alu.postContent) }}
													de lecture</span>
											</span>
										</div>

									</div>
									<div class="read-details col-75 float-l pad color-tp-pad">
										<div class="full-item-metadata primary-font">
											<div class="read-categories">

												<ul class="cat-links">
													{% for category in alu.categories %}
														<li class="meta-category">
															<a class="newsever-categories category-color-1" href="{{ path('app_da_post_category_detail', { postCategoryUrl : category.postCategoryUrl }) }}" alt="Voir toutes les actualitées">
																{{ category.categoryTitle }}
															</a>
														</li>
													{% endfor %}
												</ul>
											</div>
										</div>
										<div class="full-item-content">
											<div class="read-title">
												<h4>
													<a href="{{ path('app_da_post_detail', { postUrl : alu.postUrl } ) }}">{{ alu.postTitle | raw }}</a>
												</h4>
											</div>
											<div class="entry-meta">

												<span class="author-links">

													<span class="item-metadata posts-date">
														<i class="fa fa-clock-o"></i>
														{{ alu.postCreatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}
													</span>

													<span class="item-metadata posts-author byline">
														<i class="fa fa-pencil-square-o"></i>
														<a href="{{ path('app_da_user_post', { userName : alu.user } ) }}">
															{{ alu.user.userFullname }}
														</a>
													</span>

												</span>
											</div>
										</div>
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div id="tabbed-2-categorised" role="tabpanel" class="tab-pane">
					<ul class="article-item article-list-item article-tabbed-list article-item-left">
						{% for flashNew in flashNews %}
							<li class="af-double-column list-style">
								<div class="read-single color-pad">
									<div class="read-img pos-rel col-4 float-l read-bg-img">
										<a href="{{ path('app_da_post_detail', { postUrl : flashNew.postUrl } ) }}">
											<img width="150" height="150" src="{{ vich_uploader_asset(flashNew) | imagine_filter('FLASH_NEWS') }}" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" loading="lazy"/>
										</a>
										<div class="min-read-post-format">
											<span class="min-read-item">
												<span class="min-read">{{ read_time(flashNew.postContent) }}
													de lecture</span>
											</span>
										</div>

									</div>
									<div class="read-details col-75 float-l pad color-tp-pad">
										<div class="full-item-metadata primary-font">
											<div class="read-categories">

												<ul class="cat-links">
													{% for category in flashNew.categories %}
														<li class="meta-category">
															<a class="newsever-categories category-color-1" href="{{ path('app_da_post_category_detail', { postCategoryUrl : category.postCategoryUrl }) }}" alt="Voir toutes les actualitées">
																{{ category.categoryTitle }}
															</a>
														</li>
													{% endfor %}
												</ul>
											</div>
										</div>
										<div class="full-item-content">
											<div class="read-title">
												<h4>
													<a href="{{ path('app_da_post_detail', { postUrl : flashNew.postUrl } ) }}">{{ flashNew.postTitle }}</a>
												</h4>
											</div>
											<div class="entry-meta">

												<span class="author-links">

													<span class="item-metadata posts-date">
														<i class="fa fa-clock-o"></i>
														{{ flashNew.postCreatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}
													</span>

													<span class="item-metadata posts-author byline">
														<i class="fa fa-pencil-square-o"></i>
														<a href="{{ path('app_da_user_post', { userName : flashNew.user } ) }}">
															{{ flashNew.user.userFullname }}
														</a>
													</span>

												</span>
											</div>
										</div>
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="newsever_posts_express_list-2" class="widget newsever-widget newsever_posts_express_list list-layout aft-widget-background-dark ">
	<div class="em-title-subtitle-wrap">
		<h4 class="widget-title header-after1">
			<span class="header-after">
				Culture
			</span>
		</h4>

	</div>
	<div class="widget-block widget-wrapper">
		<div class="af-container-row clearfix">
			{% for culture in cultures %}
				{% if loop.first %}
					<div class="col-2 pad float-l grid-part af-sec-post">
						<div class="read-single color-pad">
							<div class="read-img pos-rel read-bg-img">
								<a href="{{ path('app_da_post_detail', { postUrl : culture.postUrl } ) }}">
									<img width="640" height="426" src="{{ vich_uploader_asset(culture) | imagine_filter('CULTURE') }}" class="attachment-large size-large wp-post-image" alt="" loading="lazy" sizes="(max-width: 640px) 100vw, 640px"/>
								</a>
								<div class="min-read-post-format">
									<span class="min-read-item">
										<span class="min-read">{{ read_time(culture.postContent) }}
											de lecture</span>
									</span>
								</div>


							</div>
							<div class="read-details color-tp-pad">

								<div class="read-categories">

									<ul class="cat-links">
										{% for category in culture.categories %}
											<li class="meta-category">
												<a class="newsever-categories category-color-1" href="{{ path('app_da_post_category_detail', { postCategoryUrl : category.postCategoryUrl }) }}" alt="Voir toutes les actualitées">
													{{ category.categoryTitle }}
												</a>
											</li>
										{% endfor %}
									</ul>
								</div>
								<div class="read-title">
									<h4>
										<a href="{{ path('app_da_post_detail', { postUrl : culture.postUrl } ) }}">{{ culture.postTitle | raw }}</a>
									</h4>
								</div>
								<div class="entry-meta">

									<span class="author-links">

										<span class="item-metadata posts-date">
											<i class="fa fa-clock-o"></i>
											{{ culture.postCreatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}
										</span>

										<span class="item-metadata posts-author byline">
											<i class="fa fa-pencil-square-o"></i>
											<a href="{{ path('app_da_user_post', { userName : culture.user } ) }}">
												{{ culture.user.userFullname }}
											</a>
										</span>

									</span>
								</div>

							</div>
						</div>
					</div>
				{% else %}
					<div class="col-2 pad float-l list-part af-sec-post">
						<div class="af-double-column list-style clearfix">
							<div class="read-single color-pad">
								<div class="read-img pos-rel col-4 float-l read-bg-img">
									<a href="{{ path('app_da_post_detail', { postUrl : culture.postUrl } ) }}">
										<img width="150" height="150" src="{{ vich_uploader_asset(culture) | imagine_filter('FLASH_NEWS') }}" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" loading="lazy"/>
									</a>
								</div>
								<div class="read-details col-75 float-l pad color-tp-pad">
									<div class="read-categories">

										<ul class="cat-links">
											{% for category in culture.categories %}
												<li class="meta-category">
													<a class="newsever-categories category-color-1" href="{{ path('app_da_post_category_detail', { postCategoryUrl : category.postCategoryUrl }) }}" alt="Voir toutes les actualitées">
														{{ category.categoryTitle }}
													</a>
												</li>
											{% endfor %}
										</ul>
									</div>
									<div class="read-title">
										<h4>
											<a href="{{ path('app_da_post_detail', { postUrl : culture.postUrl } ) }}">{{ culture.postTitle | raw }}</a>
										</h4>
									</div>
									<div class="entry-meta">

										<span class="author-links">

											<span class="item-metadata posts-date">
												<i class="fa fa-clock-o"></i>
												{{ culture.postCreatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}
											</span>

											<span class="item-metadata posts-author byline">
												<i class="fa fa-pencil-square-o"></i>
												<a href="{{ path('app_da_user_post', { userName : culture.user } ) }}">
													{{ culture.user.userFullname }}
												</a>
											</span>

										</span>
									</div>
								</div>
							</div>


						</div>
					</div>

				{% endif %}
			{% endfor %}

		</div>
	</div>

</div>
