<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	
	xmlns:georss="http://www.georss.org/georss"
	xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#"
	>

<channel>
	<title>Theme Spiral, Author at Free News</title>
	<atom:link href="https://demo.themespiral.com/freenews/author/demo_spiral18/feed/" rel="self" type="application/rss+xml" />
	<link>https://demo.themespiral.com/freenews/author/demo_spiral18/</link>
	<description>Just another Theme Spiral Demo Sites site</description>
	<lastBuildDate>Thu, 11 Apr 2019 08:55:28 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>

<image>
	<url>https://demo.themespiral.com/freenews/wp-content/uploads/sites/8/2019/04/cropped-fab-shoppingcart-32x32.jpg</url>
	<title>Theme Spiral, Author at Free News</title>
	<link>https://demo.themespiral.com/freenews/author/demo_spiral18/</link>
	<width>32</width>
	<height>32</height>
</image> 
<site xmlns="com-wordpress:feed-additions:1">163326438</site>	<item>
		<title>Deadly fire hits Kangkok shopping complex</title>
		<link>https://demo.themespiral.com/freenews/2019/04/11/deadly-fire-hits-kangkok-shopping-complex/</link>
		
		<dc:creator><![CDATA[Theme Spiral]]></dc:creator>
		<pubDate>Thu, 11 Apr 2019 08:55:26 +0000</pubDate>
				<category><![CDATA[Fire]]></category>
		<category><![CDATA[Stories]]></category>
		<guid isPermaLink="false">https://demo.themespiral.com/freenews/?p=112</guid>

					<description><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi &#8230; <a href="https://demo.themespiral.com/freenews/2019/04/11/deadly-fire-hits-kangkok-shopping-complex/" class="more-link">Read More</a></p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/deadly-fire-hits-kangkok-shopping-complex/">Deadly fire hits Kangkok shopping complex</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></description>
										<content:encoded><![CDATA[
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do   eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad   minim  veniam, quis nostrud exercitation ullamco laboris nisi ut  aliquip  ex ea  commodo consequat. Duis aute irure dolor in  reprehenderit in  voluptate  velit esse cillum dolore eu fugiat nulla  pariatur. Excepteur  sint  occaecat cupidatat non proident, sunt in  culpa qui officia  deserunt  mollit anim id est laborum.   </p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/deadly-fire-hits-kangkok-shopping-complex/">Deadly fire hits Kangkok shopping complex</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></content:encoded>
					
		
		
		<post-id xmlns="com-wordpress:feed-additions:1">112</post-id>	</item>
		<item>
		<title>The country waits as coup rumours grow</title>
		<link>https://demo.themespiral.com/freenews/2019/04/11/the-country-waits-as-coup-rumours-grow/</link>
		
		<dc:creator><![CDATA[Theme Spiral]]></dc:creator>
		<pubDate>Thu, 11 Apr 2019 08:51:05 +0000</pubDate>
				<category><![CDATA[Stories]]></category>
		<category><![CDATA[War]]></category>
		<guid isPermaLink="false">https://demo.themespiral.com/freenews/?p=110</guid>

					<description><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi &#8230; <a href="https://demo.themespiral.com/freenews/2019/04/11/the-country-waits-as-coup-rumours-grow/" class="more-link">Read More</a></p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/the-country-waits-as-coup-rumours-grow/">The country waits as coup rumours grow</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></description>
										<content:encoded><![CDATA[
<p>
 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad 
minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
 ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in 
voluptate  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur 
sint  occaecat cupidatat non proident, sunt in culpa qui officia 
deserunt  mollit anim id est laborum. 

</p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/the-country-waits-as-coup-rumours-grow/">The country waits as coup rumours grow</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></content:encoded>
					
		
		
		<post-id xmlns="com-wordpress:feed-additions:1">110</post-id>	</item>
		<item>
		<title>Middle classes losing out to ultra-rich</title>
		<link>https://demo.themespiral.com/freenews/2019/04/11/middle-classes-losing-out-to-ultra-rich/</link>
		
		<dc:creator><![CDATA[Theme Spiral]]></dc:creator>
		<pubDate>Thu, 11 Apr 2019 08:46:24 +0000</pubDate>
				<category><![CDATA[Forest]]></category>
		<category><![CDATA[Stories]]></category>
		<guid isPermaLink="false">https://demo.themespiral.com/freenews/?p=108</guid>

					<description><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi &#8230; <a href="https://demo.themespiral.com/freenews/2019/04/11/middle-classes-losing-out-to-ultra-rich/" class="more-link">Read More</a></p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/middle-classes-losing-out-to-ultra-rich/">Middle classes losing out to ultra-rich</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></description>
										<content:encoded><![CDATA[
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
mollit anim id est laborum.

</p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/middle-classes-losing-out-to-ultra-rich/">Middle classes losing out to ultra-rich</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></content:encoded>
					
		
		
		<post-id xmlns="com-wordpress:feed-additions:1">108</post-id>	</item>
		<item>
		<title>New duck species found in Philippines</title>
		<link>https://demo.themespiral.com/freenews/2019/04/11/new-duck-species-found-in-philippines/</link>
		
		<dc:creator><![CDATA[Theme Spiral]]></dc:creator>
		<pubDate>Thu, 11 Apr 2019 08:43:41 +0000</pubDate>
				<category><![CDATA[Animal]]></category>
		<category><![CDATA[Stories]]></category>
		<guid isPermaLink="false">https://demo.themespiral.com/freenews/?p=102</guid>

					<description><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi &#8230; <a href="https://demo.themespiral.com/freenews/2019/04/11/new-duck-species-found-in-philippines/" class="more-link">Read More</a></p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/new-duck-species-found-in-philippines/">New duck species found in Philippines</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></description>
										<content:encoded><![CDATA[
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/new-duck-species-found-in-philippines/">New duck species found in Philippines</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></content:encoded>
					
		
		
		<post-id xmlns="com-wordpress:feed-additions:1">102</post-id>	</item>
		<item>
		<title>Is this the fastest seven-year-old in the world?</title>
		<link>https://demo.themespiral.com/freenews/2019/04/11/is-this-the-fastest-seven-year-old-in-the-world/</link>
		
		<dc:creator><![CDATA[Theme Spiral]]></dc:creator>
		<pubDate>Thu, 11 Apr 2019 08:07:21 +0000</pubDate>
				<category><![CDATA[Athletics]]></category>
		<category><![CDATA[Sports]]></category>
		<guid isPermaLink="false">https://demo.themespiral.com/freenews/?p=99</guid>

					<description><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi &#8230; <a href="https://demo.themespiral.com/freenews/2019/04/11/is-this-the-fastest-seven-year-old-in-the-world/" class="more-link">Read More</a></p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/is-this-the-fastest-seven-year-old-in-the-world/">Is this the fastest seven-year-old in the world?</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></description>
										<content:encoded><![CDATA[
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/is-this-the-fastest-seven-year-old-in-the-world/">Is this the fastest seven-year-old in the world?</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></content:encoded>
					
		
		
		<post-id xmlns="com-wordpress:feed-additions:1">99</post-id>	</item>
		<item>
		<title>Catch-up: World Cross Country Championships</title>
		<link>https://demo.themespiral.com/freenews/2019/04/11/catch-up-world-cross-country-championships/</link>
		
		<dc:creator><![CDATA[Theme Spiral]]></dc:creator>
		<pubDate>Thu, 11 Apr 2019 08:04:05 +0000</pubDate>
				<category><![CDATA[Sports]]></category>
		<category><![CDATA[swimming]]></category>
		<guid isPermaLink="false">https://demo.themespiral.com/freenews/?p=97</guid>

					<description><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi &#8230; <a href="https://demo.themespiral.com/freenews/2019/04/11/catch-up-world-cross-country-championships/" class="more-link">Read More</a></p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/catch-up-world-cross-country-championships/">Catch-up: World Cross Country Championships</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></description>
										<content:encoded><![CDATA[
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
mollit anim id est laborum.

</p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/catch-up-world-cross-country-championships/">Catch-up: World Cross Country Championships</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></content:encoded>
					
		
		
		<post-id xmlns="com-wordpress:feed-additions:1">97</post-id>	</item>
		<item>
		<title>Incredible! Is this the luckiest penalty you&#8217;ll ever see?</title>
		<link>https://demo.themespiral.com/freenews/2019/04/11/incredible-is-this-the-luckiest-penalty-youll-ever-see/</link>
		
		<dc:creator><![CDATA[Theme Spiral]]></dc:creator>
		<pubDate>Thu, 11 Apr 2019 07:56:37 +0000</pubDate>
				<category><![CDATA[Football]]></category>
		<category><![CDATA[Sports]]></category>
		<guid isPermaLink="false">https://demo.themespiral.com/freenews/?p=95</guid>

					<description><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi &#8230; <a href="https://demo.themespiral.com/freenews/2019/04/11/incredible-is-this-the-luckiest-penalty-youll-ever-see/" class="more-link">Read More</a></p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/incredible-is-this-the-luckiest-penalty-youll-ever-see/">Incredible! Is this the luckiest penalty you&#8217;ll ever see?</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></description>
										<content:encoded><![CDATA[
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/incredible-is-this-the-luckiest-penalty-youll-ever-see/">Incredible! Is this the luckiest penalty you&#8217;ll ever see?</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></content:encoded>
					
		
		
		<post-id xmlns="com-wordpress:feed-additions:1">95</post-id>	</item>
		<item>
		<title>Woods has belief in 15th major win</title>
		<link>https://demo.themespiral.com/freenews/2019/04/11/woods-has-belief-in-15th-major-win/</link>
		
		<dc:creator><![CDATA[Theme Spiral]]></dc:creator>
		<pubDate>Thu, 11 Apr 2019 07:55:09 +0000</pubDate>
				<category><![CDATA[Sports]]></category>
		<category><![CDATA[X-games]]></category>
		<guid isPermaLink="false">https://demo.themespiral.com/freenews/?p=89</guid>

					<description><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi &#8230; <a href="https://demo.themespiral.com/freenews/2019/04/11/woods-has-belief-in-15th-major-win/" class="more-link">Read More</a></p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/woods-has-belief-in-15th-major-win/">Woods has belief in 15th major win</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></description>
										<content:encoded><![CDATA[
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/woods-has-belief-in-15th-major-win/">Woods has belief in 15th major win</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></content:encoded>
					
		
		
		<post-id xmlns="com-wordpress:feed-additions:1">89</post-id>	</item>
		<item>
		<title>How you can think yourself thin</title>
		<link>https://demo.themespiral.com/freenews/2019/04/11/how-you-can-think-yourself-thin/</link>
		
		<dc:creator><![CDATA[Theme Spiral]]></dc:creator>
		<pubDate>Thu, 11 Apr 2019 07:37:35 +0000</pubDate>
				<category><![CDATA[Arts & Culture]]></category>
		<guid isPermaLink="false">https://demo.themespiral.com/freenews/?p=87</guid>

					<description><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi &#8230; <a href="https://demo.themespiral.com/freenews/2019/04/11/how-you-can-think-yourself-thin/" class="more-link">Read More</a></p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/how-you-can-think-yourself-thin/">How you can think yourself thin</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></description>
										<content:encoded><![CDATA[
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/how-you-can-think-yourself-thin/">How you can think yourself thin</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></content:encoded>
					
		
		
		<post-id xmlns="com-wordpress:feed-additions:1">87</post-id>	</item>
		<item>
		<title>British Library plans new base in Leeds</title>
		<link>https://demo.themespiral.com/freenews/2019/04/11/book-bank-to-close-the-local-library/</link>
		
		<dc:creator><![CDATA[Theme Spiral]]></dc:creator>
		<pubDate>Thu, 11 Apr 2019 07:34:35 +0000</pubDate>
				<category><![CDATA[Arts & Culture]]></category>
		<guid isPermaLink="false">https://demo.themespiral.com/freenews/?p=84</guid>

					<description><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi &#8230; <a href="https://demo.themespiral.com/freenews/2019/04/11/book-bank-to-close-the-local-library/" class="more-link">Read More</a></p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/book-bank-to-close-the-local-library/">British Library plans new base in Leeds</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></description>
										<content:encoded><![CDATA[
<p>
 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad 
minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
 ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in 
voluptate  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur 
sint  occaecat cupidatat non proident, sunt in culpa qui officia 
deserunt  mollit anim id est laborum. 

</p>
<p>The post <a rel="nofollow" href="https://demo.themespiral.com/freenews/2019/04/11/book-bank-to-close-the-local-library/">British Library plans new base in Leeds</a> appeared first on <a rel="nofollow" href="https://demo.themespiral.com/freenews">Free News</a>.</p>
]]></content:encoded>
					
		
		
		<post-id xmlns="com-wordpress:feed-additions:1">84</post-id>	</item>
	</channel>
</rss>

<!--
Performance optimized by W3 Total Cache. Learn more: https://www.boldgrid.com/w3-total-cache/


Served from: demo.themespiral.com @ 2023-05-22 10:18:14 by W3 Total Cache
-->